[2011-01-08 10:23] gjdev opened #1 "excludeRoots not working correctly for PMD"
When I have a configuration with
<pre>
 &lt;excludeRoots&gt;
     &lt;excludeRoot&gt;/target/generated-sources/antlr3&lt;/excludeRoot&gt;
 &lt;/excludeRoots&gt;
</pre>

the plugin translates this into
<pre>
&lt;exclude-pattern&gt;.*/C:/Users/gerjon/workspaceHel/opensahara/opensahara-apiserver.*&lt;/exclude-pattern&gt;
</pre>

Note that the actual exluded root is not part of the pattern, and also n

[2011-01-08 10:30] gjdev opened #2 "exludes does not work for PMD"
When I have &lt;exludes&gt; in my maven-pmd-plugin config, they are skipped by this eclipse plugin, saying that because there are also &lt;includes&gt; the excludes will be ignored. This message is there even when I have no includes section in my config at all, or when I have an empty includes section in my config.

[2011-07-11 13:42] dmatej opened #4 "NPE: Cannot update a project configuration after dependency project closed"
1) I have a project A with dependency B. Both are imported in a workspace and open.
2) I closed the project B
3) NPE on Update Project Configuration or Update Maven Dependencies, settings lost
4) Unistalled the PMD configuration plugin for M2Eclipse 1.0.0.201106081737
5) Update Project configuration works

!ENTRY org.eclipse.core.jobs 4 2 2011-07-11 15:31:17.599
!MESSAGE An internal error occurred

[2011-07-13 15:51] annihilate opened #5 "Not working with Eclipse Indigo m2e"
Hi
This does not seem to be working for me using Eclipse Indigo and the latest m2eclipse 1.0.0.20110607-2117
I have got the Checkstyle m2e plugin installed, but it doesn't seem to be doing anything. There is nothing about it in the Maven console when doing an update project configuration. I installed the checkstyle m2e plugin from the market place.

Is the checkstyle plugin supposed to work with I

[2011-07-14 16:54] #5 closed, assigned to nobody

[2011-09-02 13:55] count-negative opened #6 "createPmdRuleSet doesn't work for http urls"
the  URL resolvedLocation = resourceResolver.resolveLocation(loc); throws a NPE if there is a ruleset configured like
<ruleset>http://localhost/design.xml</ruleset> or on a local disk <ruleset>pmd.xml</ruleset>

[2011-10-11 02:32] PhilBeaudoin opened #7 "${project.basedir} does not expand correctly"
In my POM, for maven-checkstyle-plugin, I have something like this:

&lt;configuration&gt;
   ...
   &lt;propertyExpansion&gt;basedir=${project.basedir}&lt;/propertyExpansion&gt;
&lt;/configuration&gt;

In my checkstyle.properties I have:

header.file=target/checkstyle-header.txt

Then, in my checkstyle.xml I have:

&lt;module name="Header"&gt;
  &lt;property name="fileExtensions" value="java"/&gt

[2012-02-18 16:45] ianbollinger opened #9 "EclipsePmdProjectConfigurator.createPmdRuleSet dereferences a null pointer if the ruleset path is not found"
Namely, on line #223, the local `resolvedLocation` can be `null`. Also, project-relative paths didn't seem to work for me; qualifying it with `${basedir}` fixed the issue.

[2012-09-23 20:44] tnaroska opened #14 "Checkstyle configurator does not support <headerLocation> pom value."
see http://maven.apache.org/plugins/maven-checkstyle-plugin/checkstyle-mojo.html#headerLocation

[2012-11-10 00:34] kmatoski opened #18 "sourceDirectory and testSourceDirectory are not supported for CheckStyle"
The plugin always defaults the CheckStyle file sets to the src/main/java folder. It would be nice to fully support the maven-checkstyle-plugin and be able to extract the file sets directories from sourceDirectory and testSourceDirectory properties.

[2013-01-19 14:12] xuniyuqi opened #20 "404 error"
org.eclipse.core.runtime.CoreException: Error(s) occurred gathering items for installation
	at org.eclipse.m2e.internal.discovery.operation.MavenDiscoveryInstallOperation.computeInstallableUnits(MavenDiscoveryInstallOperation.java:131)
	at org.eclipse.m2e.internal.discovery.operation.MavenDiscoveryInstallOperation.run(MavenDiscoveryInstallOperation.java:95)
	at org.eclipse.jface.operation.ModalCon

[2013-05-22 12:46] jodastephen opened #22 "Checkstyle configurator does not support <suppressionsLocation> pom value"
Checkstyle's suppressions file should be [configured](http://maven.apache.org/plugins/maven-checkstyle-plugin/check-mojo.html#suppressionsLocation) using `suppressionsLocation` and `suppressionsFileExpression` as per [this guide](http://maven.apache.org/plugins/maven-checkstyle-plugin/examples/suppressions-filter.html).

The necessary fix is almost certainly simlar to #14 and #15.

Current workaro

[2013-06-16 17:44] lennartj opened #23 "Incorrect PMD ruleset configuration file name"
Corrected the m2e-generated ruleset name, from .ruleset to .ruleset.xml

This prevents PMD from messing up the interpreted path to the generated configuration through some arcane assumptions about how to treat certain characters in the path.

Patch supplied in the commit ca220ed33fa6598ad75e847b4dd9f7346aa1b8f0, on the `pmd-eclipse-plugin-4.0.0 branch` in `lennartj / m2e-code-quality` repo.

Feel

[2013-07-25 16:10] oberlies opened #25 "Connectors are not in catalog of Kepler m2e version (1.4)"
I would like to install the m2e-checkstyle connector into my Kepler IDE, which has m2e 1.4.0.20130601-0317 installed. However the preconfigured catalog `http://download.eclipse.org/technology/m2e/discovery/directory-1.4.xml` doesn't contain it.

Could you please trigger an update of the catalog?

[2013-07-28 20:59] #7 closed, assigned to nobody

[2013-09-12 20:37] jpraet opened #27 "exclude generated source folders from checkstyle"
The maven-checkstyle-plugin only passes the project.build.sourceDirectory to checkstyle. m2e-code-quality-checkstyle however passes all compile source directories returned from mavenProject.getCompileSourceRoots() to checkstyle. This includes generated sources directories such as target/generated-sources/jaxb.

[2013-10-07 13:31] tmortagne opened #30 "Mistake in double star whildcard conversion"
The maven checkstyle plugin exclude ``org/xwiki/test/ui/**/*.java`` end up in the eclipsecs configuration as ``src/main/java.*org/xwiki/test/ui/.*/.*\.java`` which does not includes Java files located in ``org/xwiki/test/ui/``.

In this case the expected conversion would be ``src/main/java.*org/xwiki/test/ui/.*\.java`` I guess.

[2013-10-29 14:50] cremersstijn opened #31 "Importing pmd sonar configuration file gives a NullPointerException"
I want to import a sonar pmd configuration file (using the sonar permalinks) using the m2e-code-quality plugin, but i receive a NullPointerException:

[code]

[2013-11-10 07:19] trajano opened #32 "When using a dependent configuration, Checkstyle becomes disabled"
Given the following configuration

		<pluginManagement>
			<plugins>
				<plugin>
					<artifactId>maven-checkstyle-plugin</artifactId>
					<version>2.10</version>
					<configuration>
						<configLocation>config/checkstyle-configuration.xml</configLocation>
					</configuration>
					<dependencies>
						<dependency>
							<groupId>net.trajano</groupId>
							<artifactId>coding-standards</art

[2013-11-30 12:08] sebhoss opened #33 "Usage of default PMD rule sets breaks imports"
I'm using the following pmd-plugin configuration:

[code]

Importing fails with the following stack trace:

[code]

The reason behind this is the PMD `MavenPluginConfigurationTranslator` `getRulesets()` method returns an immutable empty list if no rule set configuration is found. Therefore we can't add new rule sets in `EclipsePmdProjectConfigurator`. I'm guessing that returning the default rule s

[2013-12-09 09:04] ArloL opened #35 "Support for findbugs:check goal?"
I was wondering why the checkstyle:check goal is supported and findbugs:check is not?

[2013-12-11 09:32] cforce opened #36 "can't get checktsyle integration working in eclipse"
We installed latest from "https://github.com/m2e-code-quality/m2e-code-quality/tree/gh-pages/site/latest" update site, but chechstyle don't works or nothinh happens .

We use
Eclipse 4.3.1 with maven 3.1 checktsyle plugin inside and outside of reports section, bound to compile phase at goald check and checktsyle using an external checkstyle config path from sonar server (https with verisign cert b

[2013-12-12 23:30] mosabua opened #37 "Support for new M2e release"
I am trying install the checkstyle integration as well as the Maven development tools but I get this error

Operation details
Cannot complete the install because of a conflicting dependency.
Software being installed: Checkstyle configuration plugin for M2Eclipse 1.0.0.201307281919 (com.basistech.m2e.code.quality.checkstyle.feature.feature.group 1.0.0.201307281919)
Software currently installed: m2e

[2013-12-20 08:57] cristcost opened #39 "Exclude completely "target" from Eclipse in Checkstyle"
Hello,

My Maven project generate classes inside the folder "target/generated/src/main/java".

The problem is that the when I import it into eclipse, eclipse-cs get configured to validate also the java classes inside that folder as they match the pattern "src/main/java/.*\/.*\.java"

To be able to exclude the generated files, I need to change configuration in eclipse either by adding an exclude ru

[2014-01-03 15:42] sewe opened #40 "Build errors when Checkstyle configuration resides in workspace project"
(This may be related to issue #32.)

When using a plugin configuration like the following

[code]

an import as "Existing Maven project" fails with error multiple messages like the following:

[code]

Apparently, the Checkstyle m2e connector cannot deal with the situation where the Checkstyle configuration is not (yet) available through a Maven repository but *is* available in the Eclipse workspac

[2014-01-16 20:55] #33 closed, assigned to nobody

[2014-03-28 06:32] #25 closed, assigned to nobody

[2014-04-22 14:43] jwilson1066 opened #45 "UnsupportedOperationException from PMD m2e connector"
I just installed the latest J2EE Eclipse and imported a POM that refers to PMD (among other plugins). I then got repeated errors like this:

An internal error occurred during "Updating Maven Project".

java.lang.UnsupportedOperationException
	at java.util.AbstractList.add(AbstractList.java:148)
	at java.util.AbstractList.add(AbstractList.java:108)
	at com.basistech.m2e.code.quality.pmd.EclipsePmdP

[2014-04-22 18:59] jwilson1066 opened #46 "maven-dependency-plugin (goals "copy-dependencies", "unpack") is not supported by m2e"
Using

m2e connector for build-helper-maven-plugin 0.15.0.201207090124 org.sonatype.m2e.buildhelper.feature.feature.group  Sonatype, Inc.

I get the following error:

maven-dependency-plugin (goals "copy-dependencies", "unpack") is not supported by m2e

after importing the following pom, even though the plugin is bound to the 'package' phase.

<project xmlns="http://maven.apache.org/POM/4.0.0" xml

[2014-06-05 16:56] #46 closed, assigned to nobody

[2014-06-05 17:44] #35 closed, assigned to nobody

[2014-06-05 17:45] #37 closed, assigned to nobody

[2014-06-28 17:19] jpraet opened #48 "checkstyle suppressions no longer working"
net.sf.eclipsecs.core.util.CheckstylePluginException: cannot initialize module SuppressionFilter - Cannot set property 'file' in module SuppressionFilter to 'D:\workspace-luna\foo\target/checkstyle-suppressions.xml': unable to find D:\workspace-luna\foo\target/checkstyle-suppressions.xml
    at net.sf.eclipsecs.core.util.CheckstylePluginException.rethrow(CheckstylePluginException.java:66)

The sup

[2014-07-21 13:14] res1st opened #49 "FindBugs: Loading exclude filter file fails if Maven extension feature is used"
Hi,

I want to share the exclude filter file.
That's why I'm using the Maven extension mechanism, but it fails in Eclipse.

The project de.example.buildtools contains the exclude filter file at
   src\main\resources\findbugs\excludeFilter.xml

I'm using the same mechanism for the checkstyle configuration file and it works fine.

Maven configuration:
[code]

Exception:
[code]

[2014-07-28 07:16] ArloL opened #50 "Not working with FindBugs 3.0.0"
It is currently not possible to update the FindBugs Feature to 3.0.0. I will try fixing it this week.

[2014-08-19 07:37] #50 closed, assigned to nobody

[2014-08-24 23:21] TheE opened #51 "Invalid update site link on project page"
As of writing, the project page (https://m2e-code-quality.github.io/m2e-code-quality/) has a link to the update side that points to: https://m2e-code-quality.github.io/m2e-code-quality/site/latest. Using this link in any browser results in an '404 - Page not found' error. Likewise, eclipse 4.4 does not find any software under this link.

The correct links seems to be 'https://m2e-code-quality.gith

[2014-08-25 10:38] #51 closed, assigned to nobody

[2014-09-22 13:41] Dawuid opened #52 "Incompatibilities with maven-checkstyle-plugin 2.13"
The plugin maven-checkstyle-plugin:2.13 has been published recently and there are changes that conflicts with present m2e-code-quality version (I suppose). Now source and test directories are directories, not a single one. Changes are needed to deal with that in MavenPluginConfigurationTranslator.java (parameter String sourceDirectory is now List<String> sourceDirectories, and similar with testSou

[2014-09-24 06:30] #48 closed, assigned to nobody

[2014-10-05 16:55] berndv opened #53 "NullPointerException with maven-checkstyle-plugin 2.13"
**Problem**
When using maven-checkstyle-plugin 2.13 an NPE occurs in MavenPluginConfigurationTranslator when importing or building projects in Eclipse.

**Reason**
MavenPluginConfigurationTranslator looks up the paramaters `sourceDirectory` and `testSourceDirectory` directory. Those are deprecated since 2.13 and replaced by the parameters `sourceDirectories` and `testSourceDirectories`.

**Workaro

[2014-10-10 07:59] jpraet opened #54 "suppressionsLocation conflicting between maven and eclipse"
The maven-checkstyle plugin puts the suppressions file in `${project.build.directory}` with the name `checkstyle-supressions.xml`.

The m2e-code-quality plugin puts the suppressions file in the same directory, but it adds the execution id to the name, `checkstyle-suppressions-{executionId}.xml`.

When you launch a maven build outside of eclipse, the target directory is cleared, so the `checkstyle-

[2014-11-14 16:06] matthiasbalke opened #57 "cannot load findbugs.xml from classpath"
I'm trying to use the m2e-code-quality eclipse plugin to use my custom findbugs config defined in maven pom. Everytime I change something within the pom.xml I get this error from Eclipse:
[code]

[2014-11-19 14:37] u3r opened #58 "upgrade to checkstyle > 6.0"
The default updatesite for eclipse checkstyle http://eclipse-cs.sourceforge.net/update/ now only references versions > 6.0, so you have to manually tweak versions. (At least when automatically preparing an eclipse distribution)

[2014-12-21 05:41] rtack opened #61 "support m2e 1.6"
the upcoming mars release uses m2e 1.6 and at the moment the m2e-code-quality tools cannot be installed.

[2015-01-06 16:41] selmantayyar opened #62 "Can not install m2e code quality to STS"
I can not install the plugin into STS.Information and eror message below:
Spring Tool Suite
Version: 3.6.3.RELEASE
Build Id: 201411281415
Platform: Eclipse Luna SR1 (4.4.1)

![m2e](https://cloud.githubusercontent.com/assets/1129967/5631968/2598c86e-95cb-11e4-8f1b-fe7f97c51878.png)

Hope information is enough.
Please let me know.

[2015-01-06 18:05] ArloL commented on #62
Please try this site http://m2e-code-quality.github.io/m2e-code-quality/site/develop/

[2015-01-06 18:05] ArloL commented on #58
Please try this site http://m2e-code-quality.github.io/m2e-code-quality/site/develop/ and tell me whether it works.

[2015-01-07 10:10] ArloL commented on #62
I have released a new version since everything works for me: http://m2e-code-quality.github.io/m2e-code-quality/site/latest

Please re-open the issue if it still doesnt work.

[2015-01-07 10:10] #62 closed

[2015-01-07 10:12] ArloL commented on #58
I have released a new version: http://m2e-code-quality.github.io/m2e-code-quality/site/latest

Please open a new issue if you have any problems.

[2015-01-07 10:12] #58 closed

[2015-01-07 10:15] selmantayyar commented on #62
It is working now.
Thanks for prompt action.
Cheers

[2015-01-07 10:15] ArloL commented on #52
We have stayed at maven-checkstyle-plugin 2.12 due to the changes introduced in 2.13.

So sadly I have to tell you that I won't be looking into 2.13 compatibility. Maybe 2.14 will be better.

[2015-01-07 10:19] ArloL commented on #52
I should read properly. I just saw the PR.

I will of course look into it.

[2015-01-07 17:03] ArloL commented on #53
Please test with this update site: http://m2e-code-quality.github.io/m2e-code-quality/site/develop/

[2015-01-07 17:03] ArloL commented on #52
Please test with this update site: http://m2e-code-quality.github.io/m2e-code-quality/site/develop/

[2015-01-08 13:28] ArloL commented on #61
Please try this build http://m2e-code-quality.github.io/m2e-code-quality/site/develop

It works for me locally.

[2015-01-08 13:29] ArloL commented on #18
This should work now. Please open a new issue if there are any problems

[2015-01-08 13:29] #18 closed

[2015-01-08 13:30] ArloL commented on #20
Please use the correct update site: http://m2e-code-quality.github.io/m2e-code-quality/site/latest

If there are any other problems, open a new issue.

[2015-01-08 13:30] #20 closed

[2015-01-08 13:38] ArloL commented on #14
Can this issue be closed?

[2015-01-09 07:44] ArloL opened #66 "Migrate from eclipse-update-site to eclipse-repository"
See https://wiki.eclipse.org/Tycho/Reference_Card#Update_Site and http://software.2206966.n2.nabble.com/Steps-before-deprecating-eclipse-update-site-td6274042.html

[2015-01-09 07:46] ArloL opened #67 "Make /site a composite site including latest for old references"
The old update sites were pointed at http://m2e-code-quality.github.io/m2e-code-quality/site/ to allow migration make it a composite site that includes latest.

[2015-01-09 09:30] #14 closed, assigned to nobody

[2015-01-09 16:13] ArloL commented on #66
Apparently the eclipse-repository does not include repository references so one would have to include everything as a composite which is ugly IMO.

[2015-01-11 13:10] Dawuid commented on #52
Working like a charm with java8+checkstyle 6.1.1, thank your very much to both.

PS: maven-checkstyle-plugin is not being actively maintained for months (only few commits, not so serious)

[2015-01-12 07:01] ArloL commented on #52
Then I will make a release.

Yes, I know. That's really sad but I can't maintain everything. I was kinda "tricked" into being the maintainer of m2e-code-quality already :smile:

[2015-01-12 08:30] #67 closed

[2015-01-12 08:32] ArloL commented on #53
Should be fixed with latest release.

[2015-01-12 08:32] #53 closed

[2015-01-12 08:33] ArloL commented on #61
Should be fixed with latest release.

[2015-01-12 08:33] #61 closed

[2015-01-12 08:33] ArloL commented on #52
Fixed with latest release.

[2015-01-12 08:33] #52 closed

[2015-01-12 12:35] #66 closed

[2015-01-12 18:13] antonsmyk opened #68 "Regression: Checkstyle configuration is not loaded with recent plugin version"
Have fresh install Eclipse Luna SR1 with last updates. Installed the m2-code-quality plugin from http://m2e-code-quality.github.io/m2e-code-quality/site/latest. Imported Maven project which uses custom checkstyle configuration resolved from classpath as below:
[code]

Problem is that custom checkstyle configuration is not picked by the plugin. Refer to the screenshot. No difference with versions 2

[2015-01-13 20:09] dan-skiffington commented on #49
Did you ever figure this out?  I'm running into the same thing.

[2015-01-13 20:56] Dawuid commented on #49
Problem is related with commit https://github.com/m2e-code-quality/m2e-code-quality/commit/6840c009e49add41331209422eb8276f344b1b53#diff-45a0545fba8b9bd9242ce9213c76e09f method getPluginClassRealm.

Those files, include/exclude filters, are not searched any more like a resource because MojoExecution returns a null ClassRealm, so ResourceResolver cannot explore all possibilities (resources, URL, fi

[2015-01-15 08:02] ArloL commented on #49
I have reverted parts of that commit and updated the develop site. Thanks for finding the problem.

http://m2e-code-quality.github.io/m2e-code-quality/site/develop/

[2015-01-15 08:05] ArloL commented on #68
Please try with the latest develop build:

http://m2e-code-quality.github.io/m2e-code-quality/site/develop/

[2015-01-15 08:05] ArloL commented on #57
Please try with the latest develop build:

http://m2e-code-quality.github.io/m2e-code-quality/site/develop/

[2015-01-15 08:06] ArloL commented on #40
Please try with the latest develop build:

http://m2e-code-quality.github.io/m2e-code-quality/site/develop/

[2015-01-15 08:09] ArloL commented on #32
Out of curiosity: why do you only activate checkstyle if m2e.version is present?

Could you try the latest develop build:

http://m2e-code-quality.github.io/m2e-code-quality/site/develop/

[2015-01-15 08:10] ArloL commented on #22
Is this issue still relevant?

[2015-01-15 09:06] sewe commented on #40
I tried the latest development build, but still have the same problem:

The project’s `Properties > Checkstyle > Local Check Configurations` shows this error message: `Location "jar:file:/Users/sewe/.m2/repository/org/eclipse/recommenders/coding-conventions/2.1.12-SNAPSHOT/coding-conventions-2.1.12-SNAPSHOT.jar!/checkstyle/config.xml` of check configuration "maven-checkstyle-plugin check-coding-co

[2015-01-15 09:10] ArloL commented on #40
Could you try a mvn install on your coding conventions?

I am not sure that resolving in the local workspace is actually possible. `org.eclipse.recommenders:coding-conventions:2.1.12-SNAPSHOT` is a dependency of `maven-checkstyle-plugin` and not the project. Therefore I don't think that workspace resolution works there.

My knowledge in this regard is very limited and documentation scarce. So plea

[2015-01-15 09:31] ArloL commented on #40
There actually is a bug for this: https://bugs.eclipse.org/bugs/show_bug.cgi?id=395065

It seems that the behaviour is intended even though we're not trying to run code.

A workaround is to add the coding-conventions as a project dependency and place the checkstyle configuration in src/main/resources.

[2015-01-15 09:31] sewe commented on #40
As I said in an earlier comment, doing a `mvn install` prior to the import is indeed a workaround, although it would of course be far nicer to have *live* editing capabilities, i.e., to be able to change the `config.xml` within the workspace and immediately see the effects without an intermediate `install` step.

I realize that documentation is missing, but @coderplus did some great work on worksp

[2015-01-15 09:43] sewe commented on #40
In reply to https://github.com/m2e-code-quality/m2e-code-quality/issues/40#issuecomment-70060147: The situation with the `maven-remote-resources-plugin` is indeed a bit different, as it has a dedicated `<resourceBundles>` configuration option, whereas the `maven-checkstyle-plugin` can re-use its plugin dependencies for that.

[2015-01-15 09:45] ArloL commented on #40
Sorry, about not reading the entire thread first.

I am looking into his maven-dependency-plugin work right now. It'd be really cool if this worked!

[2015-01-15 12:35] ArloL commented on #40
I tried unpacking a local workspace dependency with the m2e-MDP by coderplus and it did not work. The maven remote resources plugin actually works but it executes the actual mojo so there seems to be something going on there.

[2015-01-15 14:00] ArloL commented on #40
The maven remote resources plugin uses an ArtifactResolver that is injected via plexus. I don't know how to get plexus to give me one. So that didn't really work. Do you have any further ideas?

[2015-01-15 15:20] trajano commented on #32
There are only two times I want the checkstyle to run in order to speed up the build process.
1. the site report
2. within the IDE so the developers can fix the problems ASAP

I don't normally let style checks fail the build, because rules can be in flux and may need to be discussed.  So we leave it as technical debt until we resolve the problem or update the rule.

[2015-01-15 15:28] ArloL commented on #32
The goal checkstyle:checkstyle should trigger the connector to configure checkstyle. So you don't need the additional profile.

[2015-01-15 15:31] trajano commented on #32
If I don't have the additional profile checkstyle executes on the command line builds by default which I want to avoid.

On Thu, Jan 15, 2015 at 10:28 AM, ArloL <notifications@github.com> wrote:

[2015-01-15 15:35] sewe commented on #40
In reply to https://github.com/m2e-code-quality/m2e-code-quality/issues/40#issuecomment-70088909: No, I’m afraid I don’t have any further ideas, but maybe @coderplus can help you as the author of the m2e connector for the maven-remote-resources-plugin.

[2015-01-15 15:38] ArloL commented on #32
What I mean is that the report goal should trigger the configuration. Thus it won't run in your regular mvn build and only during site. But it should still configure eclipse-cs.

[2015-01-15 16:05] trajano commented on #32
Ah okay I will try that out.

On Thu, Jan 15, 2015 at 10:38 AM, ArloL <notifications@github.com> wrote:

[2015-01-16 14:17] jodastephen commented on #22
I haven't tested to see if the patch has fixed it, but I imagine it has.

[2015-01-16 14:21] ArloL commented on #22
Thanks for reporting back. OK. Then I will close the issue.

Just open a new one if you have any problems!

[2015-01-16 14:21] #22 closed

[2015-01-18 04:37] trajano commented on #32
Error seems to be a bit worse now
<pre>
Errors occurred during the build.
Errors running builder 'Checkstyle Builder' on project 'jetng-maven-plugin'.
cannot initialize module TreeWalker - Unable to instantiate RedundantThrows
cannot initialize module TreeWalker - Unable to instantiate RedundantThrows
cannot initialize module TreeWalker - Unable to instantiate RedundantThrows
cannot initialize mod

[2015-01-19 20:23] antonsmyk commented on #68
Thanks, it now works!

Would you please release a stable version then?

[2015-01-21 08:45] ArloL commented on #68
I will release Friday in a week since I won't have the chance to react to bugs until then.

[2015-01-21 20:02] moldowan commented on #54
I have been using this patch for a couple of weeks without problems. This should be included in the next release!

[2015-03-21 22:27] WonderCsabo opened #69 "Plugin cannot add suppression file properly"
I have this config in my POM:
[code]

This results in an additional property added to the local check configuration:
[code]

However, this does not make a difference, and `eclipse-cs` still checks all my classes. Actually i searched for this property, and i did not found anything about it. How this should make cs recognize the suppression file?

If i add the suppression filter manually, it does wo

[2015-04-04 01:59] trajano opened #70 "Disable adding FindBugs nature when the project type is EAR"
Seems that the FindBugs configurator tries to add the nature and is giving the following error in the logs
<pre>
Java project is not open or does not exist: P/[project name]
</pre>

[2015-04-28 08:08] victornoel opened #71 "Eclipse sometimes complaining about missing header file"
Hi,

Sometimes, Eclipse complains everytime I save a file with the following message:
[code]

Here is my checkstyle configuration in maven:
http://repository.ow2.org/nexus/content/repositories/snapshots/org/ow2/petals/petals-root-parent/20.2.3-SNAPSHOT/petals-root-parent-20.2.3-20150423.151813-41.pom

Here is the content of the .checkstyle file:
[code]

The file checkstyle-header-check-header.txt

[2015-04-28 08:27] victornoel commented on #71
I think PR #55 may solve the problem!

[2015-04-28 08:29] victornoel commented on #54
@ArloL any way to merge this PR and release a new version? Thanks

[2015-04-28 08:32] victornoel opened #72 "Generated checkstyle file does not respect configuration in maven"
Hi,

I added some configuration pertaining to includes (just changed it to: **/*) but the checkstyle file contain something different:
[code]

Moreover, these settings doesn't seem to be used because files outside of these directory are checked by eclipse-cs… are you sure you are following the correct schema for the file? (I am using checkstyle 6.5, this may be why…).

[2015-04-28 09:11] victornoel commented on #72
Sorry, I was wrong, it is just I forgot to use resourcesIncludes.

[2015-04-28 09:11] #72 closed

[2015-05-10 11:14] WonderCsabo commented on #69
I managed to solve the problem. I have to add the following module to the Checkstyle ruleset:
[code]
Thanks to @lkoe for the [suggestion](https://sourceforge.net/p/eclipse-cs/discussion/274377/thread/218b9c12/)

BTW, [`checkstyle.suppressions.file`](https://maven.apache.org/plugins/maven-checkstyle-plugin/checkstyle-mojo.html#suppressionsFile) property is deprecated, the plugin should use [`checks

[2015-05-27 12:54] donsenior commented on #70
This bug is pretty annoying when having an ear module, because on every build, it pops up a **"Problem Ocurred"** dialog, with message **"Finding bugs in [project name]"** and the detail message that @trajano has already mentioned.

[2015-05-28 15:58] balazs-zsoldos commented on #68
Same issue with newest version of Eclise (4.2.2), m2e-checkstyle (1.0.0.201503101518) and Eclise Checkstyle plugin (6.5.0.201504121610).

[2015-05-28 20:54] dojcsak commented on #70
I think PR #73 may solve the problem!

[2015-05-28 22:57] balazs-zsoldos commented on #68
Found the issue. It was because exlude directory pattern from maven config could not be handled. It was really hard to find it (only via debugging) as CheckstylePluginException is swallowed in EclipseCheckstyleProjectConfigurator

[2015-07-28 20:30] jpraet commented on #54
Can this be merged and released please?

[2015-08-13 02:08] tyas1 opened #75 "java.lang.NoClassDefFoundError with STS 3.7.0 during maven project update"
I am using Spring Tool Suite 3.7.0(STS 3.7.0) and tried to update maven project, I got following error.

and here is stack trace in eclipse log file.

	at org.eclipse.m2e.core.internal.project.registry.ProjectRegistryRefreshJob.run(ProjectRegistryRefreshJob.java:81)

[2015-08-20 15:44] mcampbell-src commented on #75
We're seeing this error with the latest connector in a fresh Eclipse Luna install, so I don't think this is specific to Sprint Tool Suite.  I'm not seeing this issue with the following version of the connector though that I had installed a while ago in another eclipse:

Checkstyle configuration plugin for M2Eclipse	1.0.0.201503101518
Eclipse Checkstyle Plug-in 6.5.0.201504121610

[2015-08-21 09:00] tyas1 commented on #75
Please try following pom.xml file.

1. create maven project in STS 3.7.0
2. confirm check style activated.
3. update maven project. You will see following exception.

  An internal error occurred during: "Updating Maven Project".
  org/apache/commons/lang/StringEscapeUtils

**pom.xml**
[code]

[2015-09-13 12:16] dairylea commented on #75
I am getting this error too! Tried fresh Spring STS and Eclipse workspaces and installs (Mars).

java.lang.NoClassDefFoundError: org/apache/commons/lang/StringEscapeUtils
	at com.basistech.m2e.code.quality.checkstyle.MavenPluginConfigurationTranslator.updatePropertiesWithPropertyExpansion(MavenPluginConfigurationTranslator.java:632)
	at com.basistech.m2e.code.quality.checkstyle.EclipseCheckstylePr

[2015-09-17 12:32] marnix commented on #75
A colleague has the same problem, using Luna, not STS, with 6.9.0, whiile I don't have this problem with Luna, not STS, with 6.5.0.

We have not found a workaround yet.

Let me know if there is more information we could provide to help you out.  Thanks!

[2015-09-23 06:39] ArloL commented on #75
Thanks for wriiting the issue. Since we at work stopped using the plugin for performance reasons I can't really motivate myself to really check these. I will continue merging PRs that look reasonable and release them but I won't be fixing any issues myself - especially as writing code for Eclipse is not really intuitive.

[2015-09-24 11:21] iheinrich commented on #75
PR #76 fixed this issue for me.

[2015-09-24 11:39] dairylea commented on #75
I have cloned and built locally, how do I install it?

[2015-09-25 12:45] iheinrich commented on #75
My build was done by launching Maven from the command line. After the build I added a "local" software site to Eclipse by selecting the folder "m2e-code-quality/com.basistech.m2e.code.quality.site/target/site" from file system.
There may be other options available if you import m2e-code-quality as Plugin Projects into Eclipse and build them there. But I am not familiar with Eclipse plugin developm

[2015-09-25 12:56] dairylea commented on #75
Cheers, that did it for me!

[2015-09-26 08:33] marnix commented on #75
Just to confirm: does that mean that Checkstyle configuration plugin for M2Eclipse 1.0.0.201503101518 cannot be installed when m2e 1.7.x is installed, but it can be installed when m2e 1.6.x is installed?

If I misunderstood, please clarify.  Thanks!

[2015-09-27 21:40] RocusHalbasch commented on #75
That is correct PR #76 added support for m2e 1.7.x, and "Checkstyle configuration plugin for M2Eclipse 1.0.0.201503101518" was built before PR #76 was merged. I should have checked the issues to see if there were any outstanding issues it fixed and let you guys know. Sorry.

[2015-10-01 13:51] tad9ab opened #78 "Not seeing Checkstyle errors at compile time"
After I've installed the Checkstyle connector, is there any other configuration I need to do to have the checkstyle plugin run whenever I make a code change (and my code auto-compiles)?

I have known checkstyle issues in my code, but I don't see them marked in
Eclipse after I compile that code.  Any help would be appreciated.

I'm using 1.0.0.201503101518 and am on Kepler SR2 (with M2E 1.5.2).  Al

[2015-10-20 09:40] dbevacqua commented on #54
+

[2016-01-07 13:01] balazs-zsoldos commented on #49
I have a similar problem. I have just updated to the version that is available in the master branch today. Till now everything worked file, but now I get the following exception:

    com.basistech.m2e.code.quality.shared.ConfigurationException: [M2E-FB]: could not locate resource [everit-findbugs.xml]
	at com.basistech.m2e.code.quality.findbugs.MavenPluginConfigurationTranslator.copyUrlResourceTo

[2016-01-19 12:40] c4n70r commented on #68
Hi there,
I'm facing the same problem with

Eclipse Checkstyle Plug-in, 6.11.1.201510102004
Checkstyle configuration plugin for M2Eclipse	, 1.0.0.201503101518
m2e 1.6.2
Eclipse  Mars 4.5.1

is there already a workaround or a fix available?

[2016-02-07 15:06] #54 closed

[2016-02-07 16:36] ArloL commented on #75
Sorry about the delay. I've just pushed a new release. Please let me know if it was fixed or whether the issue still exists!

[2016-02-07 16:36] ArloL commented on #71
Sorry about the delay. I've just pushed a new release. Please let me know if it was fixed or whether the issue still exists!

[2016-02-07 16:36] ArloL commented on #70
Sorry about the delay. I've just pushed a new release. Please let me know if it was fixed or whether the issue still exists!

[2016-02-07 16:37] ArloL commented on #68
Sorry about the delay. I've just pushed a new release. Please let me know if it was fixed or whether the issue still exists!

[2016-02-07 16:37] ArloL commented on #57
Sorry about the delay. I've just pushed a new release. Please let me know if it was fixed or whether the issue still exists!

[2016-02-07 16:38] ArloL commented on #49
Sorry about the delay. I've just pushed a new release. Please let me know if it was fixed or whether the issue still exists!

[2016-02-07 16:38] ArloL commented on #45
Sorry about the delay. I've just pushed a new release. Please let me know if it was fixed or whether the issue still exists!

[2016-02-08 13:27] victornoel commented on #71
It seems to be good, thanks :)

[2016-02-08 13:27] #71 closed

[2016-02-08 15:04] balazs-zsoldos commented on #49
Everything works well for me with the latest m2e snapshot. Thanks!

[2016-02-08 15:05] balazs-zsoldos commented on #68
Everything works well for me. Thanks!

[2016-02-08 15:41] c4n70r commented on #68
hm, makes no difference on my projects.
I have a multi module project which is using a build-tools artifact (see https://maven.apache.org/plugins/maven-checkstyle-plugin/examples/multi-module-config.html)

After deleting all eclipse configuration files from the tree (.project, .classpath, .settings/ , .pmdruleset.xml) and deleting the projects from eclipse, I've imported them via m2e.
PMD is confi

[2016-02-08 17:41] ArloL commented on #68
@balazs-zsoldos Thanks for the feedback. Glad it's working for you!

@c4n70r Could you maybe create a PR with a project in the test-projects directory that demonstrates your problem?

[2016-02-08 18:56] ArloL commented on #1
Hi @gjdev,
I am trying to cleanup the issues. Is this still a problem?

[2016-02-08 18:57] ArloL commented on #2
Same question here, @gjdev. Is this still a problem? Please let me know and I will look into it.

[2016-02-08 18:58] ArloL commented on #6
Hi @count-negative, I am trying to cleanup the issues. Is this still a problem? Please let me know and I will look into it.

[2016-02-08 19:00] ArloL commented on #4
Hi @dmatej, I am trying to cleanup the issues. Is this still a problem? Please let me know and I will look into it.

[2016-02-08 19:02] ArloL commented on #9
Hi @ianbollinger, I want to cleanup the issues. Has this been fixed by #19? Please let me know if not and I will look into it.

[2016-02-08 19:07] ArloL commented on #78
Hi @tad9ab, can you look at the configuration of the /test-projects directory and see whether there are any significant differences? Otherwise could you maybe create a PR with a project that demonstrates your behavior? Then I can look into your problem!

[2016-02-09 05:52] count-negative commented on #6
Bwa dont't know. It's been too long so please close.

[2016-02-09 05:52] #6 closed

[2016-02-09 15:24] c4n70r commented on #68
@ArloL done

[2016-02-09 16:31] ArloL commented on #68
Thanks, @c4n70r. I will look into it.

[2016-02-09 16:56] ArloL commented on #68
Here's what I did:

1. New Mars with Eclipse Installer
2. Import all maven projects
3. Install m2e connectors, checkstyle and pmd after Eclipse recommends it
4. Restart Eclipse. I then get an error message that some stuff can't be found.
4. `mvn install` on build-tools
5. Maven -> Update Project
6. Properties of example-persistence -> Checkstyle. See that it has the right file from my m2 repositor

[2016-02-09 16:58] tad9ab commented on #78
Thanks for the reply.  I thought I might state a few things and ask a question or two until I get time to upload a test project.

The project I'm currently working on pulls in its CS configuration via a (grand)parent pom, and the path is contributed by a dependent jar.  I noticed that your configuration is pulled from a "config" path, that doesn't appear to be in your project somewhere.  Perhaps t

[2016-02-09 17:02] ArloL commented on #78
I edited your comment for readability of the code.

Look at the new failing-checkstyle-example project that I just committed. It uses a jar file too with configuration in the parent. The jar has to be available in your maven repository though. It won't pull it from the workspace. Does that help you?

[2016-02-09 17:04] c4n70r commented on #68
I did the nearly same, but used the eclipse Mars.1 zip package and had the PMD and Checkstyle Plugins allready installed before importing the project.
I also did a mvn  clean install in the console before importing.
PMD is active, checkstyle is not configured.
maybe ist one of the other plugins?
- moreunit
- infiniitest
- mousefeed

[2016-02-09 17:06] ArloL commented on #68
Could be. Please try if you can follow my steps above and send me a screenshot of the checkstyle config and Eclipse Error Log.

[2016-02-09 17:24] tad9ab commented on #78
OK, sorry for the dumb question(s), but I'm assuming that "failing-checkstyle-example" is configured to give CS errors during compilation, right?  I didn't see any source code in the core or the persistence projects, so maybe I'm not understanding entirely.  I pulled it down, added a new class with a System.out.println() in the constructor, and expected to see an error (or a warning), but I'm not

[2016-02-09 17:29] c4n70r commented on #78
the checkstyle configuration just contains a few checks (pmd as well), it was meant to check if the eclipse-cs configuration would be done, not to really test code. I'm sorry.
You may fill the checkstyle.xml with some more "realistic" content if you want to see messages.

[2016-02-09 17:42] c4n70r commented on #68
1.) unpacked eclipse-jee-mars-1-win32-x86_64.zip
2.) git clone https://github.com/c4n70r/m2e-code-quality.git
3.) started eclipse with new workspace
4.) import existing maven projects from
 %projectspath%\m2e-code-quality-new\m2e-code-quality\test-projects\failing-checkstyle-example
5.) eclipse installs pmd and checkstyle m2e configurators and eclipse
pmd and eclipse-cs plugins
6.) restart eclipse

[2016-02-09 17:44] ArloL commented on #68
Sadly I can't see any screenshots.

[2016-02-09 17:50] c4n70r commented on #68
doesnt work, please check your gmail account.

[2016-02-09 19:01] ArloL commented on #68
It seems to be a problem with the SuppressionFilter. I have no time anymore so if you want to look into this and maybe come up with a fix I'll gladly release it.

I've got as far as setting the SuppressionFilter to ${checkstyle.suppressions.file} that way I can import the projects. I've boiled my progress down in checkstyle-5. Please check it out and see that the suppressionsFilter is setup with t

[2016-02-09 19:02] ArloL commented on #78
Look at checkstyle-5. It should give you an idea!

[2016-02-09 20:11] tad9ab commented on #78
I pulled down checkstyle-5, and built both of the projects (via the command line).  I expected the build to fail for the checkstyle-5-project (due to the what appears to be the disallowing of System.out.print), but it didn't even fail from the command line.  I apologize if I'm missing something super obvious here, but I feel like I am.

Is the expectation that this project will fail when it is bui

[2016-02-09 20:55] ArloL commented on #78
It doesn't fail since it has a suppression on directories with generated in them. If you want it to fail change https://github.com/m2e-code-quality/m2e-code-quality/blob/develop/test-projects/checkstyle-5/project-using-checkstyle-config/pom.xml#L34 to checkstyle-suppressions2.xml

[2016-02-09 22:06] tad9ab commented on #78
OK, sweet, I got it to throw warnings for System.out.print!  Looks like it must be a problem on my end somewhere.  I'll keep digging an post back here if I have any more questions/solutions.

Thanks!

[2016-02-09 22:30] tad9ab commented on #78
When I move the <build> block out of the current project, and have it contributed by the parent (it's in the "effective pom"), it no longer works.  Again, the contribution by the parent is the same as the snippet I pasted above.

If I can get some time, I will try to create a simple parent that has the build section and see if I can't get that to work.

Again, the child project has the build secti

[2016-02-10 07:53] c4n70r commented on #68
So, no soulution on a silver tray ;-)
This week is pretty full. But I'll see if I can help, I need that plugin anyway.
Unfortunately the only thing I know about OSGI (and Tycho) is, that it supposedly exists .

[2016-02-10 18:01] ArloL commented on #78
If you can create a PR with a project that reproduces any problems I'll definitely have a look at it.

[2016-02-10 18:29] ArloL commented on #68
I just tried checkstyle-5 again with a clean checkout and a clean eclipse. It seems that `${checkstyle.suppressions.file}` does the trick. It loads the correct suppressions file from both the command line and in Eclipse. Could you try that? I updated checkstyle-5 accordingly.

[2016-02-10 19:18] antonsmyk commented on #68
I confirm both that checkstyle configuration is loaded now (thanks ArloL!) and that suppressions don't.

We use `checkstyle.suppressions.location` property, not `checkstyle.suppressions.file` since latter is deprecated and doesn't support loading from classpath (indeed, in Maven build we do load both checkstyle config and suppressions from classpath).

I am not sure if loading suppressions into Ec

[2016-02-10 20:57] ArloL commented on #68
@antonsmyk Thanks for your confirmation. Where are you using the `checkstyle.suppressions.location` property? In checkstyle-5 these are the two critical lines that make suppressions work both in maven and in m2e: https://github.com/m2e-code-quality/m2e-code-quality/blob/66b73db40d7810b2adb984767f314ac3558c58d6/test-projects/checkstyle-5/project-using-checkstyle-config/pom.xml#L34 and https://githu

[2016-02-10 21:55] ArloL commented on #78
Please checkout /test-project/checkstyle-6 for a working parent-pom configuration.

![screen shot 2016-02-10 at 22 54 32](https://cloud.githubusercontent.com/assets/195367/12963142/425e2f8e-d049-11e5-985d-2877d9f0ac94.png)

[2016-02-10 23:40] tad9ab commented on #78
OK, I'm just really confused at this point.  I thought I had it working, but not there's nothing I can do to get it to come back.  I'm wondering if I was just pointing at some config via the eclipse CS plugin.  Whenever it "worked", I would see a .checkstyle file generated.  I wasn't sure if that was your plugin, or the code quality plugin.  Should I expect to see that, or no?  Should I have that

[2016-02-11 08:06] ArloL commented on #78
Don't worry. m2e-connectors are not really the best thing in the world but there is no alternative. You're not the only experiencing weird behavior . Which makes it very important to create reproducible situations.

The .checkstyle file you see is the checkstyle configuration of the eclipse-cs (Eclipse Checkstyle Plugin) plugin. That would exist if you create a normal Java Project and configure Ch

[2016-02-11 08:45] c4n70r commented on #68
Thats it!
Just tried the checkstyle-5 project and then adapted the ${checkstyle.suppressions.file} setting to my current work project with 30+ modules with subsubmodules.
It worked on my actual eclipse configuration with an already configured workspace and lots of plugins, so this was no lab test ;-)
@ArloL Thank you so much!
Have a nice day.

[2016-02-11 09:12] antonsmyk opened #80 "Checkstyle suppresion configuration is not picked up from classpath (controlled by checkstyle.suppressions.location property)"
Consider Maven project which uses custom checkstyle configuration resolved from classpath as below (except from effective POM):
[code]

And we have following suppresions configuration:
[code]

Have fresh install of Eclipse Mars.1, import the project, install "Checkstyle configuration plugin for M2Eclipse" version 1.0.0.201602071612 as suggested by Eclpse, restart, run "install" maven goal to get s

[2016-02-11 09:13] antonsmyk commented on #68
@ArloL, I've raised separate issue #80 about suppressions from classpath problem.

[2016-02-11 09:49] ArloL commented on #80
Can you please post the content of checkstyle.xml. Thanks!

[2016-02-11 09:52] ArloL commented on #68
@c4n70r Glad it's working for you.

@antonsmyk Since you've opened the other issue I will close this one.

[2016-02-11 09:52] #68 closed

[2016-02-11 09:53] antonsmyk commented on #80
Sure, here it is attached:
[checkstyle.xml.gz](https://github.com/m2e-code-quality/m2e-code-quality/files/126142/checkstyle.xml.gz)

[2016-02-11 09:55] ArloL commented on #80
Can you try adding the following?

[code]

[2016-02-11 10:31] antonsmyk commented on #80
Thanks for the hint. I get strange results with our code base. May be we don't cook checkstyle properly. I will prepare test project and get back with my findings.

[2016-02-11 14:48] tad9ab commented on #78
"your plugin, or the code quality plugin"
Whoops, that was a mistake.  I meant eclipse-cs or code-quality, my fault.  But from what you're saying, it sounds like what I had expected, but wasn't sure.

I'm going to try a bit more today, testing with different checkstyle configs, and see if that's where the difference lies.  Will update here with what I find.  Thanks for being so patient!

[2016-02-11 16:19] ArloL commented on #78
No worries. If you test with different configurations please make sure to always that the test is reproducible. Meaning always delete all the eclipse configuration when trying something different with e.g. `git clean -fdx`. This will delete *all* untracked and ignored (!) files. I've had success with that.

[2016-02-12 15:58] tad9ab commented on #78
OK, I've had a bit more time to take a look, and I think I might have found something.  Or I'm just going crazy at this point.

It looks like our <build> section is slightly different in that the maven checkstyle plugin is under
<build><pluginManagement><plugins>...</build>

If i wrap checkstyle6-project with pluginManagement tags, it stops working (defaults to eclipse-cs).  If I remove those tags

[2016-02-12 16:22] ArloL commented on #78
Does `mvn install` fail with that setup? My guess is no. And the answer is because the `maven-checkstyle-plugin` is not part of the build. What you add to `build/pluginManagement/plugins` configures defaults for what you add to `/build/plugins`. But it has to be part of `/build/plugins` like this

[code]

[2016-02-12 16:30] tad9ab commented on #78
Well crap, it is there from the parent, but wasn't in my test.  Let me keep trying to dissect the differences.  Sorry about that!

[2016-02-13 11:36] ArloL commented on #78
The m2e lifecycle-mapping is a nice trick by the m2e guys. What it tells m2e is to either ignore or execute the maven plugin. In your gist we see this for the maven-checkstyle-plugin:

[code]

The interesting part is `<action><ignore /></action>`. If you override this in your project with `<action><execute /></action>`. It should work.

In the effective pom (checkout the tab in the eclipse pom edi

[2016-02-13 11:43] ArloL commented on #69
Hi @WonderCsabo, I was wondering whether this issue can be closed?

The maven properties `checkstyle.suppressions.file` and `checkstyle.suppressions.location` both work. `${checkstyle.suppressions.file}` in `checkstyle.xml` has nothing to do with the maven property. It's checkstyle-specific. See the official [checkstyle.xml](https://github.com/checkstyle/checkstyle/blob/9d90fa25e0087282d2fe3d4f098

[2016-02-13 11:46] ArloL commented on #32
Hi @trajano, I pushed an update recently. I was wondering whether your problem still exists?

[2016-02-13 11:52] ArloL commented on #27
Hi @jpraet, @trajano and @khozzy,

I am trying to cleanup the issues and I was wondering whether this issue has been fixed with the recent release?

[2016-02-13 11:53] ArloL commented on #39
Hi @cristcost,

I am trying to cleanup the issues of the project. Is this still a problem?

[2016-02-13 11:55] ArloL commented on #36
Hi @cforce,

I am going through all the issues of the project and am trying to see whether they still exist. Is this still a problem?

[2016-02-13 11:55] ArloL commented on #31
Hi @cremersstijn,

I am trying to cleanup the issues of the project. Is this still a problem?

[2016-02-13 11:56] ArloL commented on #30
Hi @tmortagne,

I am trying to cleanup the issues of the project. Is this still an issue?

[2016-02-13 12:00] ArloL commented on #23
Apparently this was fixed with https://github.com/m2e-code-quality/m2e-code-quality/commit/495334764cfaaf0ecf4d26b16d68639786bee5f0#diff-f6ee209af9280b61263d989f5209c628. Thanks, @lennartj.

[2016-02-13 12:00] #23 closed

[2016-02-13 17:16] WonderCsabo commented on #69
In the `maven-checkstyle-plugin` configuration, you can [define](https://maven.apache.org/plugins/maven-checkstyle-plugin/check-mojo.html#suppressionsLocation) the suppressions file in the POM directly:
[code]

This is working even if you do not add a `SuppressionFilter` in the Checkstyle configuration file.

[2016-02-13 21:55] ArloL commented on #69
Thanks for clarifying. It doesn't seem like there is a way to do this in eclipse-cs. I don't believe that the connector should work around that fact. Would you create an issue at the eclipse-cs project? Or is it not that important for you? I personally don't think it's that important but I will try implementing it if eclipse-cs adds the feature.

[2016-02-13 22:23] WonderCsabo commented on #69
I think the workaround i wrote in https://github.com/m2e-code-quality/m2e-code-quality/issues/69#issuecomment-100625141 is acceptable, so i do not think anything should be implemented. That is the plain Checkstyle solution anyway.

[2016-02-13 23:24] ArloL commented on #69
Sounds good to me. I'll close this issue then.

[2016-02-13 23:24] #69 closed

[2016-02-15 11:40] iheinrich commented on #75
Installing 1.0.0.201602071612 into Mars.1 (4.5.1) fixed this bug for me. Thanks!

[2016-02-15 14:04] ArloL commented on #75
Thanks for the feedback, @iheinrich. I will close this issue then.

[2016-02-15 14:04] #75 closed

[2016-02-16 14:33] tmortagne commented on #30
I can still reproduce the issue with version 1.0.0.201602071612.

[2016-02-16 14:34] tmortagne commented on #30
The issue is indeed fixed, I now end up with `src/main/java.*org/xwiki/test/ui/.*\.java` on Eclipse side.

[2016-02-16 16:57] ArloL commented on #30
Thanks for your feedback, @tmortagne. I will close this issue then.

[2016-02-16 16:57] #30 closed

[2016-02-18 16:17] tad9ab commented on #78
I apologize for the delay, I haven't had a moment to circle back on this until this morning.

I reduced the build block to only contain the maven-checkstyle-plugin and the m2e plugin, which now looks like this...
[code]

If I remove the pluginExecution block, it works again, so maybe just the fact that it's there?  I also tried to "remove" the execution block in the child by doing something like
[

[2016-02-19 17:53] ArloL commented on #78
I checked the Lifecycle Mapping and saw that using `<execute />` will not use the connector. The column to check is `Source` and it was `pom`. But it has to be `extension`. So I checked and found that in order to override the `<ignore />` or `<execute />` of a parent pom you have to use the following configuration

[code]

[2016-02-19 23:33] tad9ab commented on #78
Awesome, that did it!  One other thing that's left.  It's failing when trying to load a custom class from the checkstyle config, but I'll try to dig in and get more info before I post anything.  Hopefully I'll have some time next week to look.

Thanks again!

[2016-02-22 07:18] anton-johansson opened #82 "Problems installing m2e-code-quality with (specifically) the Checkstyle Eclipse plugin on Eclipse Mars.1 Release (4.5.1)"
OS: Ubuntu 15.10 (Wily Werewolf)
Eclipse Version: Mars.1 Release (4.5.1)

[code]

[2016-02-22 10:12] ArloL commented on #82
Hi @anton-johansson, thanks for reporting the issue.

Can you reproduce this problem with a fresh Eclipse installation?
If yes, can you please describe your exact steps so that I can try reproducing the issue?

What your error message tells me is that you are trying to install an old version of the plugin. The latest release should start with 1.0.0.2016 not 1.0.0.**2014**

Did you manually add the

[2016-02-22 10:47] anton-johansson commented on #82
Hi @ArloL.

I will try in a fresh installation as soon as I have time, and see if I can get you a proper step-by-step guide to reproduce it.

Hmm, allright. Strange. When opening the marketplace in Eclipse, I couldn't find m2e-code-quality. Instead, I went [here](https://marketplace.eclipse.org/content/m2e-code-quality) and dragged the <kbd>Install</kbd> button to my Eclipse workspace.

I'll try u

[2016-02-22 11:03] anton-johansson commented on #82
Yeah, that worked like a charm. My bad, sorry for that.

Thanks a bunch!

[2016-02-22 15:30] ArloL commented on #82
Thanks for posting that link. They have the wrong update site. I'll try changing it.

[2016-02-22 19:48] tad9ab commented on #78
OK, this might just be a Checkstyle plugin error, so not sure if this is something you can help with...

We use a TreeWalker in our checkstyle config.  One of the modules under the TreeWalker module is a custom class provided by one of our jars (a dependency on the maven checkstyle plugin).  When the code quality and/or CS plugin runs, I get the following error:

[code]
Again, to clarify, this run

[2016-02-24 18:02] ArloL commented on #78
I can reproduce your problem with a custom check. The problem is that the custom class is not on Eclipse's classpath. Therefore eclipse-cs cannot instantiate the class. There are some solutions described here:

https://sourceforge.net/p/eclipse-cs/discussion/274377/thread/cde2811d/
http://eclipse-cs.sourceforge.net/#!/extensions
http://eclipse-cs.sourceforge.net/#!/custom-checks

Hopefully you can

[2016-02-24 19:26] tad9ab commented on #78
I *think* this is the last issue.  So there's no way that code quality can make resources that are available to itself, also available to the CS plugin?  For example, the jars that contain the cs config are not loaded via Eclipse's classpath, yet it finds those.  I'm obviously not familiar with the "handoff" it does with the CS plugin.  Perhaps it simply retrieves the config files to provide to th

[2016-02-25 10:23] ArloL commented on #78
The checkstyle configuration is loaded straight from the JAR. You can see that in the project properties:

![screen shot 2016-02-25 at 11 18 41](https://cloud.githubusercontent.com/assets/195367/13316703/9f01dcc2-dbb1-11e5-8357-00bd417a71b3.png)

Sadly there doesn't seem to be a similar way to do that for custom checks.

m2e connectors are just configuration converters. They read the maven configu

[2016-02-25 10:23] #78 closed

[2016-03-03 16:11] jpraet commented on #27
It is no longer an issue with the latest release.

[2016-03-03 19:29] ArloL commented on #27
Thanks for your feedback, @jpraet. I will close this issue then.

[2016-03-03 19:29] #27 closed

[2016-03-05 01:32] dmatej commented on #4
Hi, I think this problem is fixed. I can see some nullpointers, but they can be resolved by the project update and they have nothing to do with PMD.

[2016-03-05 01:32] #4 closed

[2016-03-24 19:35] sellersj commented on #39
This is a problem for me.

It's possible to work around it by creating a suppression file and linking it to the checkstyle file.

However, I don't know why anyone would want to check the code quality for anything that's in ${project.build.directory} e.g. target.

Can the plugin be changed to exclude the derived (generated) files by default?

Your comments in https://github.com/m2e-code-quality/m2e

[2016-03-29 19:46] sellersj commented on #39
I've found a work around for checkstyle. I've just excluded anything it from checking anything in the target directory and it seems to work well enough for now.

Added config to my pom:
<excludes>${project.build.directory}/**</excludes>

[2016-04-01 10:26] ArloL commented on #39
Are there checkstyle issues when you run mvn? Because there should be no difference between eclipse-cs and maven-checkstyle-plugin behavior.

If there is, could you create a PR with checkstyle-8 in https://github.com/m2e-code-quality/m2e-code-quality/tree/develop/test-projects that demonstrates it? Then I can have a look and try fixing the issue.

[2016-04-19 17:20] vorburger opened #83 "Checkstyle Additional Property checkstyle.header.file points to wrong LICENSE.txt"
When using m2e-code-quality on https://git.opendaylight.org/gerrit/gitweb?p=odlparent.git;a=tree to configure Checkstyle using https://github.com/vorburger/opendaylight-eclipse-setup, then you get the following error:

    Checkstyle: org.apache.commons.beanutils.ConversionException: line 83 in header specification is not a regular expression
        at com.puppycrawl.tools.checkstyle.checks.heade

[2016-04-19 17:30] vorburger opened #84 "Failed to resolve target definition m2e-code-quality/mars/mars.target: Could not find "net.sf.eclipsecs.feature.group/6.14.0.201602102232" in the repositories of the current location"
m2e-code-quality currently (as of today f8e36f0f6fa5fa618624ac674279a181d87834cd) fails to build:

    git clone https://github.com/m2e-code-quality/m2e-code-quality
    cd m2e-code-quality
    mvn clean install
    (...)
    [ERROR] Failed to resolve target definition /home/vorburger/dev/github/m2e-code-quality/m2e-code-quality/mars/mars.target: Could not find "net.sf.eclipsecs.feature.group/6.14

[2016-04-19 17:57] vorburger commented on #84
This gets fixed by https://github.com/m2e-code-quality/m2e-code-quality/pull/86

PS: Do you know about https://wiki.eclipse.org/Eclipse_Oomph_Authoring#Generating_PDE_Target_Definition_files_.28.2A.target.29_and_their_use_by_Tycho ? That allows you to auto generate those pesky *.target files from the Oomph *.setup model, and avoids the issue with the hard-coded version numbers required in the *.ta

[2016-04-19 19:26] vorburger commented on #83
Debugging: The problem is the this.resourceResolver.resolveLocation() call in com.basistech.m2e.code.quality.checkstyle.MavenPluginConfigurationTranslator.getHeaderFile() which for the argument "LICENSE.txt" returns jar:file:/home/vorburger/.m2/repository/org/apache/maven/plugins/maven-checkstyle-plugin/2.16/maven-checkstyle-plugin-2.16.jar!/LICENSE.txt instead of the one from https://git.opendayl

[2016-04-19 20:52] vorburger commented on #83
https://github.com/m2e-code-quality/m2e-code-quality/issues/87 log WARN to clarify this, but not fix it.

https://git.opendaylight.org/gerrit/#/c/37842/ works around this problem simply by using another file name than the default LICENSE.txt.

Closing this issue because I don't think / don't see how this can be "fixed" in m2e-code-quality - relying on Classpath ordering is almost always Very Bad I

[2016-04-19 20:52] #83 closed

[2016-04-22 17:51] ArloL commented on #84
I can't find information on whether the oomph generation works with the command line build in travis-ci. Could you find anything?

AFAIR there already is a target in the oomph setup model that does not use version numbers, no?

[2016-05-07 11:02] ArloL commented on #70
Since I haven't heard anything back for three months I'll go ahead and assume it works now. Otherwise simply open a new issue or reopen this one.

[2016-05-07 11:02] #70 closed

[2016-05-07 11:03] ArloL commented on #57
Since I haven't heard anything back for three months I'll go ahead and assume it works now. Otherwise simply open a new issue or reopen this one.

[2016-05-07 11:03] #57 closed

[2016-05-07 11:04] ArloL commented on #45
Since I haven't heard anything back for three months I'll go ahead and assume it works now. Otherwise simply open a new issue or reopen this one.

[2016-05-07 11:04] #45 closed

[2016-05-07 11:04] ArloL commented on #49
Thanks for your feedback. I will go ahead and close this issue then.

[2016-05-07 11:04] #49 closed

[2016-05-07 11:05] ArloL commented on #1
Since I haven't heard anything back for three months I'll go ahead and assume it works now. Otherwise simply open a new issue or reopen this one.

[2016-05-07 11:05] #1 closed

[2016-05-07 11:05] ArloL commented on #2
Since I haven't heard anything back for three months I'll go ahead and assume it works now. Otherwise simply open a new issue or reopen this one.

[2016-05-07 11:05] #2 closed

[2016-05-07 11:05] ArloL commented on #9
Since I haven't heard anything back for three months I'll go ahead and assume it works now. Otherwise simply open a new issue or reopen this one.

[2016-05-07 11:05] #9 closed

[2016-05-07 11:06] ArloL commented on #80
Hi @antonsmyk, do you still have problems?

[2016-05-07 11:06] ArloL commented on #39
Hi @sellersj, do you still have problems?

[2016-05-07 11:07] ArloL commented on #32
Since I haven't heard anything back for three months I'll go ahead and assume it works now. Otherwise simply open a new issue or reopen this one.

[2016-05-07 11:07] #32 closed

[2016-05-07 11:07] ArloL commented on #36
Since I haven't heard anything back for three months I'll go ahead and assume it works now. Otherwise simply open a new issue or reopen this one.

[2016-05-07 11:07] #36 closed

[2016-05-07 11:08] ArloL commented on #31
Since I haven't heard anything back for three months I'll go ahead and assume it works now. Otherwise simply open a new issue or reopen this one.

[2016-05-07 11:08] #31 closed

[2016-05-07 16:39] trajano commented on #32
Sounds good, I haven;t been on a proejct that required it for a while so I wasn't able to test.

[2016-05-08 18:52] ArloL commented on #40
To document my findings so far for future reference:

Both m2e connectors for maven-remote-resources-plugin and maven-dependencies-plugin simply execute the maven mojo. This does not work this case.

We need to resolve the location of e.g. the checkstyle xml somehow. Currently this is done by the [ResourceResolver](https://github.com/m2e-code-quality/m2e-code-quality/blob/f8e36f0f6fa5fa618624ac674

[2016-05-09 02:01] mekazu commented on #39
Hi @ArloL I wouldn't know how to to raise a PR for this but I completely agree @sellersj 's first comment and in answer to your question - there is a difference between running mvn and maven-checkstyle-plugin:

Running checkstyles with mvn doesn't cause errors because the default [includes](http://maven.apache.org/archives/maven-1.x/plugins/checkstyle/properties.html) configuration is relative to

[2016-05-09 08:59] antonsmyk commented on #80
I didn't have time for creating smaller project reproducing the problem. Will close the case for now.

[2016-05-09 09:00] #80 closed

[2016-05-09 18:18] ArloL commented on #39
Hi @mekazu, are you sure you are referring to the latest maven-checkstyle-plugin configuration? The documentation I find includes all java files with `**\/*.java`. See https://maven.apache.org/plugins/maven-checkstyle-plugin/checkstyle-mojo.html#includes

[2016-05-10 01:23] mekazu commented on #39
Hi @ArloL you're right so I suppose then the reason why the maven checkstyles plugin doesn't create any errors is because the checkstyle phase occurs before the generate phase, so when checkstyle runs there aren't any generated files for it to validate.

Therefore I'd say the solution is simply to ignore any java source files in the target directory.

[2016-05-10 16:04] ArloL commented on #39
Please have a look at the [checkstyle-8 demo project](https://github.com/m2e-code-quality/m2e-code-quality/tree/develop/test-projects/checkstyle-8). The maven-checkstyle-plugin correctly reports problems since it includes all [sourceDirectories](https://maven.apache.org/plugins/maven-checkstyle-plugin/checkstyle-mojo.html#sourceDirectories) by default.

[code]

Or am I missing something?

[2016-05-10 16:28] ArloL commented on #40
Append for the second option: `mavenProject.getArtifacts()` gives us the build dependencies and `Artifact.getFile();` the location of the target folder of that project :) I think that might be a possible way.

[2016-05-10 20:44] ArloL commented on #40
I think I have it: 8e8c36965baa0540650890c1278ac3ec6a383146

I have published a snapshot to https://m2e-code-quality.github.io/m2e-code-quality/site/develop/

[2016-05-19 16:34] ArloL commented on #39
Were you able to reproduce my findings, @mekazu?

[2016-05-19 16:36] ArloL commented on #84
Since I couldn't find any information on generating the target platform for the maven builds I will close this issue. If you find anything new @vorburger please re-open. Thanks!

[2016-05-19 16:36] #84 closed

[2016-05-20 14:54] afischer211 opened #89 "nullpointerexception on projects without local ressources"
If you have a project only with remote checkstyle-ressources (or ressources like checkstyle-rules downloaded from http-server during maven-build), the m2e-connector for checkstyle crashes with a NullPointerException.
I have patched the class com.basistech.m2e.code.quality.shared.ResourceResolver in method public URL getResourceFromPluginRealm(final String resource);

How can I distribute the patch

[2016-05-20 14:59] afischer211 opened #90 "problems under Windows with m2e-connector for checkstyle"
The resolving of relative paths from absolute paths don't work correctly under Windows (here you have drive letters and other path-separators).
I have a first solution based on nio.Path and nio.Paths, but there are more problems with the patterns itself (e.g. the methods convertToEclipseCheckstyleRegExpPath() and normalizePatternsToCheckstyleFileMatchPattern() in class com.basistech.m2e.code.quali

[2016-05-20 15:27] afischer211 commented on #89
I have patched the code in my own fork of this repository. The code is compileable and works for me.

[2016-05-20 15:28] afischer211 commented on #90
You can take a look at my modifications in my own fork of this repository.

[2016-05-22 12:20] ArloL commented on #89
Thanks for reporting and taking the time to fix the issue!

I've fixed the problem with https://github.com/m2e-code-quality/m2e-code-quality/commit/a093d82da0ea9376128833136a90d6ec7fb74410.

https://help.github.com/articles/using-pull-requests/ might help you in future!

[2016-05-22 12:23] ArloL commented on #90
Thanks for reporting the issue!

I would like to reproduce this problem myself first. Could you create an example project that demonstrates the problems you're seeing on Windows?

[2016-05-22 12:26] ArloL commented on #40
Did you get a chance to test the snapshot, @sewe? Or @briandealwis?

[2016-05-25 10:18] mekazu commented on #39
I think the project you've provided is a bad example (no offence!) because the generated sources in the target directory are usually generated by some other plugin. For example, a cxf maven plugin might be used to convert xsds to java models or a wsdl to some java interfaces. The project author has no control (or interest) over the formatting of the generated sources.

If in the above project the

[2016-05-26 11:59] antonsmyk commented on #39
They are in so called "source roots" which in https://issues.apache.org/jira/browse/MCHECKSTYLE-70 since maven-checkstyle-plugin 2.13 means generated sources also. It is rather unhappy unwelcome and unjustified change. See also https://issues.apache.org/jira/browse/MCHECKSTYLE-318.

[2016-05-26 13:36] antonsmyk commented on #39
The maven-checkstyle-plugin:check goal binds to "verify" goal by default when all sources are generated already. But it still complains on generated sources in Eclipse even when bind it to "validate" phase, and have explicit configuration for the plugin to check only files under src/main/java directory:
[code]

@ArloL, it looks like m2e totally ignores maven-checkstyle-plugin sources configuration

[2016-05-26 13:37] antonsmyk commented on #39
I tried with Eclipse Mars 2 with embedded Maven 3.3.3 and with external Maven 3.3.9.

[2016-05-26 14:07] antonsmyk commented on #39
See pull request: I have add a test case demonstrating the issue: generated sources ignored in Maven command line execution, but Eclipse still complains on them.

Screenshot:
![eclipse-checkstyle-39-test-project](https://cloud.githubusercontent.com/assets/10366539/15577233/f00b3978-235b-11e6-82a2-33b0b0c9186b.png)

[2016-05-26 16:25] sewe commented on #40
Thanks for addressing this issue and publishing a snapshot. Unfortunately, I encountered a bug.

1. Install *Eclipse IDE for Java Developers* (Mars.2)
2. Install *Checkstyle integration plugin for M2Eclipse* from https://m2e-code-quality.github.io/m2e-code-quality/site/develop/
3. Exit Eclipse
4. git clone http://git.eclipse.org/gitroot/recommenders/org.eclipse.recommenders.git into workspace.
5.

[2016-05-28 09:28] ArloL commented on #40
Thanks for testing the snapshot and for the feedback! I have added a null-check and updated the develop update site. I tested the recommenders project and it worked for me. Could you try again?

[2016-05-28 10:52] ArloL commented on #39
Thanks for the project that demonstrates the issue, @antonsmyk. That was a great help.

The problem is that eclipse-cs works with project relative regular expressions for the source directories. So what I do now is to add a `^` to the beginning of those regular expressions.

I have updated the snapshot update site: https://m2e-code-quality.github.io/m2e-code-quality/site/develop/

If you could ple

[2016-05-28 10:54] ArloL commented on #89
This is now available in the snapshot update site: https://m2e-code-quality.github.io/m2e-code-quality/site/develop/

If you could test it and report back that everything works, that would be great. Thanks in advance.

[2016-05-30 08:27] sewe commented on #40
Of course.

1. Deleted all projects in the workspace
2. Installed the lasted snapshot
3. Closed Eclipse
4. Deleted `~/.m2/repository/org/eclipse/recommenders`
5. Started Eclipse and performed a *Import > Maven > Existing Maven Projects*

This led to lots of errors like the following in the Error Log:

    org.eclipse.core.runtime.CoreException: Could not get configured mojo for org.apache.maven.pl

[2016-05-30 08:56] antonsmyk commented on #39
Thanks for prompt action, @ArloL! Unfortunately, problem is still there. I've used "Checkstyle configuration plugin for M2Eclipse 1.0.0.201605281046".

I've also tried moving maven-checkstyle-plugin configuration to pluginManagement also, but no difference.

In Project->Properties->Checkstyle->Edit I see that generated sources directory is present and activated:

![project-properties-checkstyle](h

[2016-05-30 09:03] antonsmyk commented on #39
Also tried with latest maven-checkstyle-plugin version 2.17 stated in POM (instead of 2.14) with the same result.

[2016-05-30 19:04] ArloL commented on #40
I have updated the develop site with a new snapshot that does not require all dependencies to resolve.

[2016-05-30 19:06] ArloL commented on #39
I have updated the develop site with a new snapshot.

It seems this is a bug in m2e since it never actually resolves the `sourceDirectories` property. It just returns the default value. With some trickery I got it working: https://github.com/m2e-code-quality/m2e-code-quality/commit/3a87bd9a939c35a5d4408342d0491906769da648

[2016-05-31 08:58] antonsmyk commented on #39
Yes, 1.0.0.201605301854 works fine! Thank you very much!

![eclipse-checkstyle-correct-list-of-patterns](https://cloud.githubusercontent.com/assets/10366539/15669018/742b4818-271e-11e6-9df2-319ef1a3e8d0.png)

[2016-06-01 16:19] ArloL commented on #90
Hey, @afischer211. Did you get a chance to look into this yet?

[2016-06-01 16:20] ArloL commented on #39
Can you confirm that it works, @mekazu?

[2016-06-01 18:50] afischer211 commented on #90
Hello, at the moment I have not so much time for this.
I try to create a small demo-project and add this as an attachment.
But my first idea is a problem with defined excludes in the pom for folders under the target-folder (e.g. created sources) and the resolving of this excludes as full path-values.

[2016-06-02 07:24] mekazu commented on #39
I'm happy to take @antonsmyk 's word for it.

[2016-06-02 17:08] ArloL commented on #39
If you don't have the time to test this, that is absolutely understandable. I just want to make sure that I don't break anything. My confidence in releasing increases with every successful test by other people. So if you get a chance to test the snapshot, that would be great! Thanks.

[2016-06-06 11:03] sewe commented on #40
Still seeing the same error (or a very similar one) after the update:

    org.eclipse.core.runtime.CoreException: Could not get configured mojo for org.apache.maven.plugins:maven-checkstyle-plugin:2.12:check {execution: check-coding-conventions}
    	at org.eclipse.m2e.core.internal.embedder.MavenImpl.getConfiguredMojo(MavenImpl.java:364)
    	at com.basistech.m2e.code.quality.shared.AbstractMave

[2016-06-09 10:49] anton-johansson opened #92 "One config for src/main/ and one for src/test/"
I have a checkstyle configuration that looks something like this:
[code]

This generates awesome configuration inside Eclipse. However, I have one small issue. The ```checkstyle-test``` execution adds the following ```File Matching Regular Expression``` in Eclipse:

- src/main/java/.*\.java
- src/test/java/.*\.java
- src/test/resources/.*\.properties

I want the first one to go away, but I've foun

[2016-06-09 14:17] ArloL commented on #92
Hi @anton-johansson,

thanks for reporting your issue. I was wondering whether your configuration works on the command line? That would be interesting for me to know since the connector and the command line should produce the same results.

Have you tried setting `https://maven.apache.org/plugins/maven-checkstyle-plugin/checkstyle-mojo.html#sourceDirectories` to not include /src/main/java in your

[2016-06-10 13:00] anton-johansson commented on #92
Well, my current solution sort of works in command line, in the sense that it will only execute the first execution if it fails. So it won't show double warnings. But that is obviously not possible in the Eclipse Plugin, and since I am not saying my execution NOT to execute test-checks in the main-folder, it will show me double warnings.

Okay, so I tried using ```sourceDirectories``` and came up

[2016-06-28 10:28] anton-johansson commented on #92
Anyone have any ideas or suggestions?

[2016-07-02 08:44] ArloL commented on #92
Which version of the connector are you using? The latest or the develop? There is a fix in the develop that works around a problem with the default value of sourceDirectories: https://github.com/m2e-code-quality/m2e-code-quality/commit/3a87bd9a939c35a5d4408342d0491906769da648

You can install the snapshot from https://m2e-code-quality.github.io/m2e-code-quality/site/develop/

[2016-07-02 08:45] ArloL commented on #89
Hi, @afischer211. Did you get a chance to test this?

[2016-07-02 08:47] ArloL commented on #90
That's fine. I will keep the issue open for another month. If you don't find the time until then you can just re-open it after that.

[2016-07-02 08:48] ArloL commented on #39
Did anybody else have time to test this?

[2016-07-02 09:40] ArloL commented on #40
Well that log is expected: https://github.com/m2e-code-quality/m2e-code-quality/blob/develop/com.basistech.m2e.code.quality.shared/src/main/java/com/basistech/m2e/code/quality/shared/AbstractMavenPluginProjectConfigurator.java#L313

But the configuration should work.

1. Install Eclipse IDE for Java Developers (Mars.2)
2. Install Checkstyle integration plugin for M2Eclipse from https://m2e-code-qu

[2016-07-04 09:24] anton-johansson commented on #92
I'm using ```6.16.0.201603042321``` in my Eclipse. Cool, I will try it and let you know!

[2016-07-04 12:01] ArloL commented on #92
That seems to be the version of the checkstyle plugin. You want the version of the m2e connector which would be something like 1.0.0.2016XXX

[2016-07-04 16:05] anton-johansson commented on #92
Oh, of course. Looking at my ```Eclipse Installation Details``` and then ```Plug-Ins```, I can find this one:

| Plug-in Name  | Version | Plug-in Id |
| ------------- | ------------- | ------------- |
| M2Eclipse Project Configuration for Eclipse Checkstyle  | 1.0.0.201602071612  | com.basistech.m2e.code.quality.checkstyle |

Is this the one you're looking for?

[2016-07-05 18:17] ArloL commented on #92
Yes, that's the one. You want to install the snapshot so that the version is 1.0.0.201605301854

Just add the update site https://m2e-code-quality.github.io/m2e-code-quality/site/develop/ and install the update.

[2016-07-07 13:40] vorburger commented on #1
What is slightly confusing is just that Ant style ** does not work, and most importantly the root must be complete, it seems to be implemented as equals and not startsWith, so e.g. ONLY something exactly like this works `<excludeRoots>${basedir}/target/generated-sources/mdsal-binding</excludeRoots>` but not even `${basedir}/target/generated-sources` (nor `target/generated-sources` or so). Tested o

[2016-07-07 13:50] vorburger opened #93 "pmd:cpd-check"
Hi, first of all thank you again for m2e-code-quality, it's great; we're using it for Checkstyle.

I can see it's supposed to cover PMD as well, but there appears to be some gaps - I'm starting to apply PMD initially for CPD (Copy/Paste detector) and with e.g. something this in the pom.xml:

      <plugin>

        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-pmd-plugin</a

[2016-07-07 13:53] vorburger opened #94 "NullPointerException at AbstractPMDRecord.findResource"
I've seen this a few times today, perhaps the respective code could be hardened:

    Exception:java.lang.NullPointerException: null
	 at net.sourceforge.pmd.eclipse.ui.model.AbstractPMDRecord.findResource(AbstractPMDRecord.java:246)
	 at net.sourceforge.pmd.eclipse.ui.views.ChangeEvaluator.searchProjectForModifications(ChangeEvaluator.java:161)
	 at net.sourceforge.pmd.eclipse.ui.views.ChangeEval

[2016-07-08 09:44] TouDick opened #95 "PMD configuration not activated on projects"
Hi,
I have following pom configuration in pom.xml .

Profile with static code analysis is defined in pom.xml of a parent. Profile is auto-activated.
[code]

[2016-07-17 10:32] ArloL commented on #92
Did it work, @anton-johansson?

[2016-07-17 11:04] ArloL commented on #93
Glad that you're a happy user 😄

The maven-pmd-plugin -> pmd-eclipse-plugin integration currently only supports the check goal: [lifecycle-mapping-metadata.xml](https://github.com/m2e-code-quality/m2e-code-quality/blob/develop/com.basistech.m2e.code.quality.pmd/lifecycle-mapping-metadata.xml)

Looking at the pmd-eclipse-plugin it supports Copy/Paste Detection. But there don't seem to be any per pr

[2016-07-17 11:07] ArloL commented on #94
Thanks for the report, @vorburger.

Looking at the packages in the stacktrace that seems to be an issue with the pmd-eclipse-plugin. Are you sure it's an issue with this project?

[2016-07-17 11:24] ArloL commented on #95
Thanks for reporting the issue.

The integration is currently activated when the `check` goal is used. So changing it from `pmd` to `check` should do the trick. Would that work for you?

[2016-07-17 11:58] TouDick commented on #95
Works like a charm :) :+1: Thanks!
Actually after reading some documentation, it looks like during the build check goal should be used for all three plugins (pmd/checkstyle/finsbugs) and the named after plugin name only during report. I was not aware of that fact before. However I am not sure what (if any) impact has it on the analysis.
BTW. Not the right place, but thanks for the life saving plug

[2016-07-17 12:02] ArloL commented on #95
Glad it's working for you 😄 Will close the issue then.

[2016-07-17 12:02] #95 closed

[2016-07-17 12:47] anton-johansson commented on #92
Sorry for the delay, @ArloL. I just tested the snapshot version and it works much better! However, I still got resources from both test and main. But that was easily solved with these two:
[code]

Final XML:
[code]

Thanks for the help!

Will you release a new version anytime soon? No biggie though, I can go on using the snapshot, just curious.

[2016-07-17 12:47] #92 closed

[2016-07-17 13:32] ArloL commented on #92
I would love to release but I am still waiting for feedback on some big changes I made (#39 and #40). If I don't get any feedback in the next two weeks I will just release and hope for the best.

[2016-07-17 17:54] anton-johansson commented on #92
Allright, sounds good!

[2016-07-25 03:14] vorburger commented on #94
@ArloL you are absolutely right of course, sorry for my confusion.

I've raised this on https://sourceforge.net/p/pmd/bugs/1507/.

Closing.

[2016-07-25 03:14] #94 closed

[2016-07-25 03:31] vorburger opened #96 "Integrate acanda/eclipse-pmd?"
Upon searching around where to file some bug in the "PMD Eclipse plugin", I just realized that there are two different projects offering integration of PMD into Eclipse, this m2e-code-quality VS https://github.com/acanda/eclipse-pmd/! I would not have thought that this world is big enough for two people writing separate Eclipse plugins for a code quality tool ... ;-) But you were probably already

[2016-07-25 03:53] vorburger commented on #93
My suggestion was that perhaps you'd like to add either ignore or configurator for cpd-check as well to that lifecycle-mapping-metadata.xml ?  Then I and others in the future wouldn't have to do what I did in https://github.com/vorburger/opendaylight-eclipse-setup/commit/2bb72fbc62ad59c1e4399f9d3b1da6c7be86f256 for now (sorry it's hard to read, that adds an "ignore" lifecycle mapping for cpd-check

[2016-08-09 18:53] ArloL commented on #90
I will close the issue now. Please just re-open if you find the time to create a demonstration project.

[2016-08-09 18:53] #90 closed

[2016-08-09 18:53] ArloL commented on #89
The snapshot has been released now. Please let me know if there are any issues.

[2016-08-09 18:53] #89 closed

[2016-08-09 18:54] ArloL commented on #39
This has been released now. Please let me know if there are any issues.

[2016-08-09 18:54] #39 closed

[2016-08-09 18:54] ArloL commented on #40
This has been released now. Please let me know if there are any issues.

[2016-08-09 18:54] #40 closed

[2016-08-09 18:55] ArloL commented on #92
@anton-johansson I just released the change. Please let me know if there are any issues.

[2016-11-30 16:12] jodastephen opened #97 "Checkstyle and includes/excludes on Windows"
Using Eclipse Neon 4.6.1, m2e-code-quality 1.0.0.201608091842 and Eclipse-CS 7.2.0.201611082205, I cannot get the `<includes>` and `<excludes>` elements to work properly on Windows.

Looking at the code, it seems to route these via `CheckstyleUtil` in `convertAntStylePatternToCheckstylePattern()` (added [here](https://github.com/m2e-code-quality/m2e-code-quality/commit/8cbd9ac767b4ed10e100207c5617

[2016-12-01 07:34] ArloL commented on #97
Hi @jodastephen,

thanks for taking the time to write this report. Since I have stopped using the plugin I am currently not really motivated to try and fix it myself. But I would love to help you fix it yourself if that is alright with you.

Would you be able to test your assumption with the forward slash? Setting up a working development environment should be quite easy if you are familiar with t

[2016-12-07 14:32] anton-johansson opened #99 "Checkstyle version mismatch between Eclipse and Maven"
This issue isn't really related to this project, I just have a question regarding this set up. We have Checkstyle in our parent POM, which runs various checks. We use m2e-code-quality to transfer the configs from the POM to Eclipse Checkstyle Plugin. However, we have no way of enforcing that Eclipse Checkstyle Plugin uses the same version of Checkstyle as the Maven plugin does, which mean develope

[2016-12-07 20:01] ArloL commented on #99
How about a custom checkstyle rule that takes a minimum version as a value and that triggers an ERROR if the current version is too low?

You would have to get it merged upstream though since adding custom checkstyle rules to Eclipse is pretty complicated w/o something like oomph / Eclipse Installer in place. Not a solution for *right now* but could prevent issues in future.

[2016-12-19 15:52] anton-johansson commented on #99
Hmm, a rule that checks the version of the currently running Checkstyle. I like that! I would require it to be mroe strict and checking an exact version (one developer had a newer version, which gave us a new error).

However, when I think about it, it's strange that the developer got a new error, since our config is static... Maybe better to look into that. :P

Closing for now!

Thanks!

[2016-12-19 15:52] #99 closed

[2017-01-06 21:45] kebeda opened #100 "Unable to install on latest Oxygen build"
Trying to install under Eclipse 4.7.0 Integration Build: I20170104-2000 results in the following:
[code]

[2017-01-18 12:54] jodastephen commented on #97
Thanks for the reply. I spent two hours this morning trying to setup the environment, but got nowhere. Eclipse Oomph is a nice idea, but I've never actually got it to do anything useful. In this case once you've found the hidden setup page pictured above, the git repo won't clone. And if you try to install the project separately without Oomph, you get hundreds of errors. Unfortunately, I don't hav

[2017-01-26 20:45] ArloL commented on #97
Thanks for trying and letting me know that there is a problem with oomph on Windows. I could reproduce your problem and will look into it.

[2017-01-30 19:41] rgentz commented on #82
Hi @ArloL

I have the same problem that I cannot install the software using the "Install new Software..." button.
Both http://m2e-code-quality.github.io/m2e-code-quality/site/latest/ and http://m2e-code-quality.github.io/m2e-code-quality/site/develop/

Each time I get the error:
Cannot complete the install because one or more required items could not be found.
  Software being installed: Checkstyl

[2017-02-08 23:13] ArunKumarGK commented on #82
Even I am facing the same issue. I am trying to install m2e-checkstyle / m2e-pmd with Eclipse Neon. This is a fresh installation. Below is the error I am getting :

Missing requirement: Checkstyle configuration plugin for M2Eclipse 1.0.0.201608091842 (com.basistech.m2e.code.quality.checkstyle.feature.feature.group 1.0.0.201608091842) requires 'net.sf.eclipsecs.core 5.2.0' but it could not be found

[2017-02-20 20:56] ArloL commented on #82
Could you perhaps post a longer stacktrace?

I believe it might be this error: http://stackoverflow.com/questions/42128981/eclipse-pmd-plug-in-handshake-failure

[2017-02-21 17:58] ArloL commented on #97
Hi @jodastephen,

I have looked into the problem and found a few issues with the setup. I have updated the steps in the [README](https://github.com/m2e-code-quality/m2e-code-quality#development-environment). If possible could you try these and see if it works for you? That would be really cool :) Thanks!

[2017-02-27 17:12] rythompson commented on #82
That is the entire stacktrace given by eclipse. I am seeing the same error on a fresh install of Eclipse Neon. I tried replacing the security jars with the ones found at:
 http://www.oracle.com/technetwork/java/javase/downloads/jce8-download-2133166.html
but I still received the same error.

[2017-02-28 18:33] ArloL commented on #82
Hi @rythompson, could it be that you forgot to attach the stacktrace?

[2017-02-28 18:47] rythompson commented on #82
Sorry I was referring to the stack trace in @ArunKumarGK comment. I saw the exact same thing, but that is all the information it gave. I also noticed that my java install was out of date, but updating it to 8.121 still did not help.

[2017-02-28 19:46] RohitJ23 commented on #82
I'm facing the same issue on OS X on fresh Mars installation.

Cannot complete the install because one or more required items could not be found.
  Software being installed: Checkstyle configuration plugin for M2Eclipse 1.0.0.201408150901 (com.basistech.m2e.code.quality.checkstyle.feature.feature.group 1.0.0.201408150901)
  Missing requirement: Checkstyle configuration plugin for M2Eclipse 1.0.0.2

[2017-02-28 19:51] RohitJ23 commented on #82
Trying the link @ArloL posted above didn't resolve it for me.

Cannot complete the install because one or more required items could not be found.
  Software being installed: Checkstyle configuration plugin for M2Eclipse 1.0.0.201608091842 (com.basistech.m2e.code.quality.checkstyle.feature.feature.group 1.0.0.201608091842)
  Missing requirement: Checkstyle configuration plugin for M2Eclipse 1.0.0.2

[2017-03-06 16:36] cornzy commented on #82
@ArloL I just tried to install the latest version in a fresh eclipse neon and had the similar problem. I have a linux environment, my colleague using windows didn't have any problems.

Using: http://m2e-code-quality.github.com/m2e-code-quality/site/latest
install checkstyle extension. Eclipse need very long time to find 15 solutions and finally found nothing but not to install the needed plugin. T

[2017-03-06 19:00] ArloL commented on #82
Hi @cornzy,

thanks for commenting. Could you maybe look for a stack trace in the Eclipse error logs? Are you able to install only the checkstyle plugin?

[2017-03-08 09:15] cornzy commented on #82
Hi @ArloL, your are right the problem seems to be with the checkstyle plugin. In errorlog I found a  SSLHandshakeException (stacktrace below). Seems like I have to search for a solution to install checkstyle than I'll come back again :)

[code]

[2017-03-08 09:42] ArloL commented on #82
Hi @cornzy,

thanks for trying a different approach. That error message is exactly the same as for the pmd plugin: http://stackoverflow.com/questions/42128981/eclipse-pmd-plug-in-handshake-failure

The issue is that the JVM by default only supports a limited set of ciphers and that sourceforge started using - by default unsupported - ciphers for their https traffic. The workaround is to install th

[2017-03-08 11:39] cornzy commented on #82
Hi @ArloL, thank you very much - it works for me.

[2017-03-08 12:17] ArloL commented on #82
Great! Thanks for letting us know.

[2017-03-09 13:07] aharonha opened #102 "Unable to install on Neon Milestone 2 (4.6.0M2)"
Hey.
I'm using Eclipse Neon M2, and I've tried to install your plug-in.
In the installation window the "finish" button is disabled.

Please assist.
Thanks

[2017-03-09 15:37] jgerken opened #103 "Findbugs filters not loaded from classpath and tests not excluded"
I have a Findbugs configuration in Maven which loads the include filters from the classpath. When running

[code]

on the command line the correct rules are loaded from the classpath (`/findbugs/default-rules.xml`) and tests are excluded from the detection (`includeTests` config option is not set, but defaults to `false`, see http://gleclaire.github.io/findbugs-maven-plugin/findbugs-mojo.html).

W

[2017-03-09 21:48] stephenbanghart commented on #82
Installing the JCE has fixed the issue for me as well. (Eclipse Neon 2/3)

[2017-03-10 06:48] ArloL commented on #82
Thanks for the feedback, @stephenbanghart.

[2017-03-28 14:33] kebeda commented on #100
This issue still exists on Eclipse 4.7 M6, despite what the error message says, org.eclipse.m2e.jdt 1.8.0.20160921-2002 is installed...or does that right paren ")" mean inclusive? Or is it excluding this version?
[code]

[2017-05-11 19:03] sayresVT opened #105 "Plugin incompatible with PMD Eclipse 4.0.13.v20170429-1921 / PMD 5.6.1"
The latest version of the PMD Eclipse plugin, 4.0.13.v20170429-1921, was updated to use PMD 5.6.1.  This appears to have introduced API changes that are currently incompatible with this plugin.  It looks like the RuleSet can only be instantiated through a RuleSetFactory as of PMD 5.6.0.

This is the exception that I'm seeing in Eclipse:

	java.lang.NoSuchMethodError: net.sourceforge.pmd.RuleSet: m

[2017-05-18 14:11] ggerla commented on #105
I have the same problem.
Is there a workaround?

[2017-05-18 15:58] sayresVT commented on #105
I believe the previous 4.0.12 version of the PMD Eclipse plugin is still compatible due to an older version of PMD (pre-5.6.0) being used.  I don't know if this works for your situation but here's the update site for the 4.0.12 PMD Eclipse plugin: https://dl.bintray.com/pmd/pmd-eclipse-plugin/releases/4.0.12.v20170331-0813

[2017-05-18 16:40] ggerla commented on #105
I solved the problem using maven-pmd-plugin 3.7 (instead 3.8) in maven pom. in this way eclipse installed 4.0.12.v20170331-0813 (as you suggested).

Thanks

[2017-05-22 17:51] ArloL commented on #105
I have looked into the problem for an hour now and can't find my way around the new structure of PMD. It seems that I have to somehow start using the RuleSetFactory or something. Since I am not a PMD user I will stop working on this for now. I will gladly accept and help with PRs though.

[2017-05-30 17:50] ArloL commented on #102
Can you please try with the following update site?

https://m2e-code-quality.github.io/m2e-code-quality/site/develop/

[2017-05-30 17:50] ArloL commented on #100
Can you try with the following update site?

https://m2e-code-quality.github.io/m2e-code-quality/site/develop/

[2017-05-30 17:51] ArloL commented on #105
Can you try with the following update site?

https://m2e-code-quality.github.io/m2e-code-quality/site/develop/

[2017-06-08 11:26] ArloL commented on #105
Hi @sayresVT and @ggerla, I would like to release the changes sometime soon. Would you be able to find some time and try the `develop` update site? That way I can be confident in a release. That would be very helpful. Thanks 😄

[2017-06-08 11:27] ArloL commented on #102
Hi @aharonha, I would like to release the changes sometime soon. Would you be able to find some time and try the `develop` update site? That way I can be confident in a release. That would be very helpful. Thanks 😄

[2017-06-08 11:28] ArloL commented on #100
Hi @kebeda, I would like to release the changes sometime soon. Would you be able to find some time and try the `develop` update site? That way I can be confident in a release. That would be very helpful. Thanks 😄

[2017-06-08 18:59] sayresVT commented on #105
I've been testing against the latest update and everything is looking good so far!

There was a minor hiccup with a renamed rule, UnusedModifier, that I suspect was being picked up from .metadata\.plugins\net.sourceforge.pmd.eclipse.plugin\ruleset.xml because our rule file doesn't reference it.  But I'm assuming that was more of an issue with the PMD Eclipse plugin not initially updating that rule

[2017-06-28 09:34] ctron commented on #100
I just tried the develop repository with RC3 of Oxygen and it worked fine for me. Haven't used it on a daily basis, but from a first check it works and looks good.

As Oxygen will be out today, it might be a good idea to publish the release.

Thanks for your effort!

[2017-06-28 16:24] ArloL commented on #100
1.0.0.201705301746 is now available from the release update site.

[2017-06-28 16:24] #100 closed

[2017-06-28 16:24] ArloL commented on #105
1.0.0.201705301746 is now available from the release update site.

[2017-06-28 16:24] #105 closed

[2017-06-28 16:25] ArloL commented on #102
I will close this issue now. Please re-open if you are still experiencing this problem.

[2017-06-28 16:25] #102 closed

[2017-07-04 14:38] crussellgh commented on #97
Hi,

Is there any update on this issue? I see that there is a PR waiting with a possible fix.

[2017-07-10 13:10] ctron opened #109 "Global switch for "exclude files outside source directories""
Assume you have a checkstyle configuration as described in [1], also checking `pom.xml` files in the root directory of the project, then currently those errors (on the module root) will not be shown by checkstyle in Eclipse, but reported by checkstyle run from Maven.

It is possible to open the project local settings for checkstyle and select the `java-sources-checkstyle-check` resource set and un

[2017-07-10 13:11] ctron commented on #109
My suggestion would be to untick this flag by default and simply use the source set provided by the checkstyle plugin configuration from maven.

[2017-07-21 16:52] mttjj commented on #103
+1. We are seeing the same issues. It would be very helpful to us if this plugin could honour the default configuration of not analysing tests.

[2017-07-25 19:55] sellersj commented on #97
Hi @ArloL

Is there any plan to merge the referenced pull request?

[2017-07-26 13:29] ArloL commented on #97
Hi @crussellgh and @sellersj, I would love to merge the PR but someone has to actually test it. I have not looked at it in detail since like I described above

Understandably but sadly @jodastephen does not have the time to test his PR. If someone were willing to show that his proposed change actually works I am more than willing to merge.

[2017-08-01 19:14] crussellgh commented on #97
Hi @ArloL,

There is a quite a steep learning curve trying to get the plugin built, but I finally managed to build it in the end.

I built the plugin with @jodastephen's changes using the Mars target (I wasn't able to get the Oxygen target to build due to missing features??) and tested it in Eclipse Oxygen.

It fixes my problem and the generated sources in my target folder are now excluded properl

[2017-08-02 11:15] ArloL commented on #97
Hi @crussellgh,

glad you got it working somehow. Please let me know if I can update the README in any way that would have helped you along the way. Like I said in a comment before I am more than willing to help you get the stuff working and then document that so that it becomes easier for newcomers over time. It takes me a lot of time to wrap my head around everything too. The project ownership w

[2017-08-02 13:27] crussellgh commented on #97
Hi @ArloL,

I followed the instructions for the most part.

I wasn't able to get the targets to build using the Mars RCP/RAP version of Eclipse because it insisted on trying to fetch PMD from the old Sourceforge update site instead of the new one.

Using Oxygen RCP/RAP Eclipse, it went to the correct PMD site. I am not that familiar with plugin development so I have no idea where the Mars IDE was

[2017-10-30 18:38] vorburger opened #110 "spotbugs support"
You're probably aware of [SpotBugs, the successor project of FindBugs](https://spotbugs.github.io) ?

We're adopting this in https://git.opendaylight.org/gerrit/#/c/64887/, and upon switching from the FindBugs to the SpotBugs Eclipse plugin in https://github.com/vorburger/opendaylight-eclipse-setup, I kind of hoped m2e-code-quality would "just work" (because they actually have not changed the Java

[2017-10-30 18:43] vorburger commented on #110
Opened https://github.com/spotbugs/spotbugs/issues/486 just to see if they would be willing to do something about this problem over on the "other end" of this problem... ;-)

[2017-10-30 22:43] vorburger opened #111 "Build broken"
The build of the `develop` branch of this project currently appears to be broken, as of today an `mvn clean` causes:

`[ERROR] Failed to resolve target definition /home/vorburger/dev/github/m2e-code-quality/m2e-code-quality/neon/neon.target: Could not find "net.sf.eclipsecs.feature.group/7.6.0.201703111252" in the repositories of the current location -> [Help 1]`

and a `mvn -Dtarget.platform=oxyg

[2017-10-30 22:51] vorburger commented on #110
Having had a little closer look into this, it appears that the FindBugs and the SpotBugs Eclipse plugins can be installed in parallel, which is probably a Good Thing.. so the solution here could be to fork the com.basistech.m2e.code.quality.findbugs (and .feature and .test) plugins into new com.basistech.m2e.code.quality.spotbugs (and .feature and .test) ?  There are really only 4 classes, so... j

[2017-10-31 11:28] ArloL commented on #111
Hi @vorburger,

thanks for letting me know. I have fixed the build:

https://travis-ci.org/m2e-code-quality/m2e-code-quality

The problem was that the update sites stopped serving these specific versions of the features. I have solved it by exploring those repositories and finding the currently available versions and setting them in the *.target files.

[2017-10-31 11:28] #111 closed

[2017-10-31 11:32] ArloL commented on #110
As I have said in e.g. #97 I will accept PRs and make new releases if there is enough feedback that the code actually works - sadly my knowledge of Eclipse plugins is ***really limited*** so I don't know how to write automated tests which of course increase my confidence when releasing a new version.

[2017-11-15 08:28] cdir opened #112 "Cannot install plugins with oxygen"
I installed a clean oxygen JEE and want to install m2e-code-quality plugins.

The problem:

[code]
In oxygen I got org.eclipse.m2e.jdt version 1.8.2 installed.

[2017-11-15 10:10] cdir commented on #112
Ok, I fixed it. I think the problem was any cached files of p2. Restart didn't help. I had first tried to install the features via marketplace. Maybe there is still an old update site? After that I tried to install via the latest release update site: http://m2e-code-quality.github.com/m2e-code-quality/site/latest but always got the old version of 2016. After removing all related update sited from

[2017-11-15 10:10] #112 closed

[2017-12-14 02:21] vorburger commented on #110
@ArloL FYI I've made a start for this on https://github.com/m2e-code-quality/m2e-code-quality/compare/develop...vorburger:spotbugs ... still have to do manual local testing, then I'll raise a PR. Perhaps you would like to already have a look at it though.

[2017-12-19 22:29] vorburger commented on #110
@ArloL OK I've meanwhile manually locally tested this and it works for me!

Would you be willing to review, hopefully merge and release https://github.com/m2e-code-quality/m2e-code-quality/pull/113/ some time?

[2018-01-16 22:14] vorburger commented on #110
@ArloL how are you? was hoping you would have a moment to review this some time?

[2018-01-23 02:33] vorburger opened #114 "Permit any 1.x m2e version, not just up to 1.8.x?"
I'm not sure why m2e-code-quality limits itself to m2e version 1.0.0 - 1.8.x, with `[1.0.0,1.9.0)` ?

This makes testing it e.g. on Photon with upcoming M2E 1.9.0 from http://download.eclipse.org/technology/m2e/milestones/1.9/ difficult.. IMHO there is no real good reason to enforce this as it is currently, and it would be perfectly OK to permit any 1.x m2e version...

@ArloL would a PR proposing

[2018-01-26 22:32] nfekete commented on #114
FYI I already submitted this change in a PR with https://github.com/lastnpe/eclipse-external-annotations-m2e-plugin/pull/29
Nevertheless I see this change as necessary for the Photon branch, and I've been using the Photon M4 version with this change in the plugin for a while without any problems.

[2018-01-26 22:34] nfekete commented on #114
Sorry, I commented on the wrong issue.

[2018-02-03 21:53] reckart opened #117 "Incompatible with maven-checkstyle-plugin 3.0.0"
When used with the maven-checkstyle-plugin version 3.0.0, the file sets are generated without the default patterns

[code]

Downgrading the maven-checkstyle-plugin to 2.17 and updating the Maven configuration all the affected projects in Eclipse resolves the issue again.

Cf. https://marketplace.eclipse.org/comment/5105#comment-5105

[2018-02-14 09:45] jmini commented on #82
I had the same problem when is wanted to install [Checkstyle configuration plugin for M2Eclipse](https://marketplace.eclipse.org/content/m2e-code-quality) in my Eclipse Installation with Oomph.

Stacktrace:

[code]

In my opinion the error occurs when the [checkstyle plugin](https://marketplace.eclipse.org/content/checkstyle-plug) is not installed in the IDE. It needs to be installed first.

Or yo

[2018-02-27 14:30] impidimpi commented on #117
I guess this has to do with https://issues.apache.org/jira/browse/MCHECKSTYLE-336.

sourceDirectory - Deprecated. instead use sourceDirectories. For version 3.0.0, this parameter is only defined to break the build if you use it!

See: com.basistech.m2e.code.quality.checkstyle.MavenPluginConfigurationTranslator.getSourceDirectories()

[2018-04-10 08:45] adrienrivard commented on #117
As a workaround you can add :
[code]
to the maven-checkstyle-plugin configuration in the pom.xml

[2018-05-13 15:24] michael-schnell opened #118 "Plugin does not pick up maven-checkstyle-plugin in the POM "reporting" section"
Hi there,

I normally configure the Checkstyle plugin within the "reporting" section of Maven:

[code]
It seems that this does not get picked up by the plugin (no Eclipse config is generated).

Moving it to the "build" section seems to work.

Is this by intention or am I missing something?

Cheers,
Michael

[2018-05-21 17:25] nbarithel opened #119 "PMD with custom ruleset in a multimodule maven project"
Hi,

I am using a PMD configuration similar to the one described in the multimodule maven project https://maven.apache.org/plugins/maven-pmd-plugin/examples/multi-module-config.html

It is working fine with the maven commandline but within the Eclipse integration it does not seem to find the whizbang/pmd-ruleset.xml and outputs no rule in the local eclipse .pmdruleset.xml project file (the exclude

[2018-06-28 10:30] vguna opened #120 "Not compatible with Photon?"
Just trying the new Eclipse Photon version.
When I try to install the m2e connector for checkstyle it fails on pre-condition checks:

[code]
Is this a known issue?

[2018-06-29 08:56] balazs-zsoldos commented on #120
+1

[2018-06-29 09:10] antoine-morvan commented on #120
Hi,

Jesse Ghallager made an update with tweaks for Photon compatibility (see this fork https://github.com/jesse-gallagher/m2e-code-quality/commit/7ccac314d0c972656d567ba5287013c01ee32cef).

I made a second fork where I temporarily set up a P2 repo with binaries built using the tweaks, at this URL:
http://preesm.github.io/m2e-code-quality/site/latest/

I'll use this while waiting for a proper upda

[2018-07-07 13:42] victornoel commented on #120
For the record, a PR is waiting to be merged for this: #121

[2018-07-09 10:21] jodastephen commented on #120
The fork of this plugin from [GEBIT](https://github.com/GEBIT/m2e-code-quality/tree/develop) also works on Photon. I've uploaded a binary zip to my [eclipse-setup](https://github.com/jodastephen/eclipse-setup) repo.

[2018-07-09 10:23] jodastephen commented on #117
The fork of this plugin from [GEBIT](https://github.com/GEBIT/m2e-code-quality/tree/develop) also seems to solve this. I've uploaded a binary zip to my [eclipse-setup](https://github.com/jodastephen/eclipse-setup) repo.

[2018-07-12 04:21] jmini commented on #120
The version on this update site is not working for me:
[code]

For the GEBIT fork, is there a P2 Update Site somewhere?

[2018-07-12 06:18] victornoel commented on #120
@ArloL can something be done about that? :)

[2018-07-12 16:42] jmini commented on #120
The Update Site (`preesm` user) works. I was too quick during my test this morning. I have updated my comment.

[2018-07-19 00:20] rexhoffman commented on #120
I have checkstyle and findbugs working, but not pmd (I keep my pmd config in a jar next to the checkstyle config, as an extra dependency attached to pmd/checkstyle plugin in maven config.  In the past I had to pin 4.15 of the pmd eclipse plugin to have it pick up a pmd config file from a jar, now that doesn't seem to be an option.   Willing to fix this if there is a place this code will be maintai

[2018-07-30 16:08] ctron commented on #120
I can confirm that the update site is working:

Thanks for sharing this!

[2018-08-03 05:35] Anymous526 opened #122 "eclipse photon(4.8) can't install"
eclipse photon can't install

[2018-08-06 09:00] hd42 commented on #110
This would really help us adopt SpotBugs

[2018-08-28 09:28] victornoel commented on #110
@ArloL any news on this? :)

[2018-08-28 09:51] vorburger commented on #110
Are any of you 5 who thumbed up above developers will to help maintain a fork of this project?

Speak up over on https://github.com/spotbugs/spotbugs/issues/742 if you are willing to help...

[2018-08-30 08:06] antoine-morvan commented on #110
@victornoel Hey. I'm not realy a maintainer. I just setup the update site to have CI working. I don't plan to maintain this at all (if an issue more serious than dependency version bounds arise, I might just drop M2E code quality ...). But I'd warmly welcome a serious fork :+1:

[2018-09-10 20:37] vorburger opened #123 "Automatic continous deployment deployment of develop branch to a (new) update site"
In order to "keep the lights on" for this project, one thing we should sort out is to get a p2 site to which we automatically continously deploy to. The last thing I have time for, for this project, is to do any sort of manual work for testing, or play Git Flow and merge a develop to master branch, to "cut releases" with "releases notes" and what not.

The simplest thing that works is to just have

[2018-09-10 20:43] vorburger opened #124 "Keeping the lights on this project"
Following up on https://github.com/spotbugs/spotbugs/issues/742 (which I'll close) :

In the interest of open public communication, and for the record:

@ArloL has recently invited me to become a committer on this project.

I don't really have the time to really maintain this code, as I'm already stretched too thin.

But in both the interest of the community and for [my own purposes in opendayligh

[2018-09-11 06:44] victornoel commented on #124
@vorburger if you need help reviewing PRs I'm available (just point them to me I will make comments)

[2018-09-11 18:32] rexhoffman commented on #124
@vorburger would you like a working travis-ci build?  I wouldn't mind spending a few days over the next month on tooling, snaptshot p2 repo deploys to github pages, etc.   If I get really ambitious full eclipse environment tests.

[2018-09-13 01:34] pgalbraith commented on #124
Thanks so much for stepping up here @vorburger et al, especially since it doesn't seem like you exactly volunteered for this :-).

I'd love to see the checkstyle plugin working in Photon again, I think there is one (more?) PR for this already.  Unfortunately, I'm in no way qualified to review it.

[2018-09-13 15:28] vorburger opened #125 "PMD integration plugin build broken"
While looking at doing #123 for #124, I have noticed that the develop branch as is today is apparently broken?! https://travis-ci.org/m2e-code-quality/m2e-code-quality/jobs/421685334 has this build failure in the PMD integration plugin:

[code]

I personally don't use PMD, so in order to unblock #123 for #124, I'll comment out the PMD plugin.

Pull Requests which fix the build an re-un-comment the

[2018-09-13 17:38] adangel commented on #125
ok, the PMD issue is fixed. The problem in the build is this

    Failed to resolve target definition /home/travis/build/m2e-code-quality/m2e-code-quality/oxygen/oxygen.target: Could not find "org.eclipse.jdt.feature.group/3.13.1.v20170906-1700" in the repositories of the current location

Background info on the PMD issue: While PMD itself uses semantic versioning, the eclipse-pmd-plugin doesn't,

[2018-09-14 10:18] vorburger opened #127 "Build broken for Oxygen target platform"
While reviewing #126 for #125, looking at doing #123 for #124, we see that the build is currently broken, as evidenced on https://travis-ci.org/m2e-code-quality/m2e-code-quality/jobs/428267838, for the Oxygen Target Platform (TP) :

[ERROR] Failed to resolve target definition /home/travis/build/m2e-code-quality/m2e-code-quality/oxygen/oxygen.target: Could not find "org.eclipse.jdt.feature.group/3.

[2018-09-14 10:41] vorburger opened #128 "Dependabot"
To whom it may concern:

I have set up https://dependabot.com on this project.

Am using it elsewhere, and finding it useful.

Set it to automatically merge - first time.

[2018-09-14 10:51] vorburger commented on #127
Looks like @ArloL fixed a similar problem in https://github.com/m2e-code-quality/m2e-code-quality/commit/110564284a302e929ee748a124d8c79cf2d7d7ed ... I should be able to find the currently latest version of that and do something similar.

PS: Ideally we should see how to avoid .target files with those ugly fixed version numbers with time stamps which are too brittle and break as happened here - bu

[2018-09-14 10:57] vorburger commented on #127
duh; just `mvn clean test -Dtarget.platform=oxygen` - obviously (default is neon); [let's simplify this](https://github.com/m2e-code-quality/m2e-code-quality/pull/129).

[2018-09-14 11:01] vorburger commented on #128
https://app.dependabot.com/accounts/m2e-code-quality/repos says:

@greysteil wanna check your logs to see what's causing this?

FYI this is a Maven build for an Eclipse plugin, using https://www.eclipse.org/tycho/ ...

[2018-09-14 11:04] vorburger commented on #123
see [doc/release.md](https://github.com/m2e-code-quality/m2e-code-quality/blob/develop/doc/release.md) ...

[2018-09-14 11:14] vorburger commented on #127
https://github.com/ifedorenko/p2-browser is still handy for this, after all these years...

[2018-09-14 11:38] greysteil commented on #128
I’ll take a look

[2018-09-14 11:40] vorburger commented on #123
https://github.com/m2e-code-quality/m2e-code-quality/pull/131 should be the equivalent for here...

BUT I forgot :smile_cat:  how the hell that `github_token: $GITHUB_TOKEN` business works, I cannot find anymore how/where to "Set in travis-ci.org dashboard" (inline comment). Will have to read up on that - some other day.

Also, importantly, the Travis build must now do `install` instead of just `t

[2018-09-14 18:11] greysteil commented on #128
Fixed in https://github.com/dependabot/dependabot-core/commit/03e04ddbfce1ec7d7fb4ca41b52bbc82aae18502, which is deploying now. I'll manually trigger an update run on this repo once it's deployed. 🤖

[2018-09-17 14:37] vorburger commented on #128
@greysteil thanks!! Seems to work great now, see #132 and #133 - so closing as Done.

[2018-09-17 14:37] #128 closed

[2018-09-18 15:40] vorburger commented on #123
* https://docs.travis-ci.com/user/deployment/pages/
* https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/
* https://travis-ci.org/m2e-code-quality/m2e-code-quality/settings

but.. doing this would require a personal access token with write privilege to ALL OF MY repos.  On Travis' Settings UI it's read only (stars), not visible, but somehow.. I'm still not entir

[2018-09-18 16:13] vorburger commented on #123
https://github.com/m2e-code-quality-bot (michael.vorburger+m2e-code-quality-bot@gmail.com)

I'm happy to share the password of this new _m2e-code-quality-bot_ GitHub user account with any other active commiters on this project, please just contact me by email and I'll oblige.

This user also just became a [Member (but not co-Owner) of the organization](https://github.com/orgs/m2e-code-quality/peop

[2018-09-18 16:52] vorburger commented on #123
just 2 problems:

1. Git Hub pages only works for a branch named _master_ or _gh-pages_, not develop (this is about branches in _m2e-code-quality-p2-site_, not _m2e-code-quality_). As _master_ could be confusing (because _m2e-code-quality-p2-site_ contains what was built from _m2e-code-quality_'s _develop_ and not _master_ branch), d69e10003bc21743c9a6546e259d2665cba47565 switches that, and [GitHu

[2018-09-18 17:19] vorburger commented on #123
Hm... [the Settings](https://github.com/m2e-code-quality/m2e-code-quality-p2-site/settings) have now been showing _"Your GitHub Pages site is currently being built from the gh-pages branch."_ for over 1/2h ... AFAIK it' usually much faster. On http://m2e-code-quality.github.io/m2e-code-quality-p2-site/site.xml for https://github.com/m2e-code-quality-p2-site/ we still get a 404... (The 404 on / wit

[2018-09-18 17:45] vorburger opened #135 "Build is too brittle because .target files contain timestamps of external dependencies which change"
See #127 and the fix for SpotBugs' com.github.spotbugs.plugin.eclipse.feature.group from 3.1.1.r201712011030-903b7a0 to "3.1.7.r201809130347-03f0119 I just had to do in #113 to get it to build again.

This project's build is just too brittle, because .target files contain timestamps of external dependencies which change over time.

I forgot how to improve this... :smile: This is that business [abo

[2018-09-18 17:45] vorburger commented on #127
==> #135

[2018-09-18 17:49] vorburger commented on #135
In https://github.com/lastnpe/eclipse-external-annotations-m2e-plugin/tree/master/eclipse-external-annotations-m2e-plugin.site we somehow avoided any .site with timestamp... because of https://github.com/lastnpe/eclipse-external-annotations-m2e-plugin/blob/master/pom.xml#L119 ?

[2018-09-18 17:51] vorburger commented on #114
done in #115.

[2018-09-18 17:51] #114 closed

[2018-09-18 18:06] ArloL commented on #135
If I'm reading this correctly: The problem is not the timestamp. That's just a result of the eclipse build - the version has changed as well. The problem is that most eclipse plugins do not publish old versions of their plugins thus making continuous integration with deterministic versions a pain.

[2018-09-18 20:36] vorburger commented on #124
@rexhoffman Continues Deployment of a "snapshot" p2 repo to GitHub pages just completed, see #123; looking for testers - comment in #123, if anything NOK. New PRs for further tooling related improvements or more ambitious full eclipse environment tests certainly most welcome!

@pgalbraith installing into Photon probably works now (with the version from #123), I've not yet tested it - will you test

[2018-09-19 09:03] vorburger commented on #123
FTR: GitHub Support manually triggered the first build, because, quote from support ticket:

[2018-09-19 10:10] vorburger opened #137 "Change Update Site URL in feature.xml sources from old to new CD site"
Following #123, we now have 2 update sites:

* new, and CD'd: https://m2e-code-quality.github.io/m2e-code-quality-p2-site/
* old original and not going to be maintained (at least by me): http://m2e-code-quality.github.io/m2e-code-quality/site

While reviewing @erwint's #136 I noticed that the feature.xml source still contain the old one. Should we be replacing it (not in #136 but afterwards, every

[2018-09-19 10:11] victornoel commented on #137
@vorburger I agree we should use the new one once we are sure it works

[2018-09-19 11:14] vorburger commented on #122
@Anymous526 could you please re-test with our new update site https://m2e-code-quality.github.io/m2e-code-quality-p2-site/ (see #123) and shout by further commenting here in this issue with more details from your error log if it's still NOK for you? See also #120.

[2018-09-19 11:14] #122 closed

[2018-09-19 11:20] vorburger commented on #120
@vguna @balazs-zsoldos @antoine-morvan @jodastephen @victornoel @jmini @rexhoffman @ctron could you please re-test with our brand new update site at https://m2e-code-quality.github.io/m2e-code-quality-p2-site/ (see #123 for #124 for background), and shout by further commenting here in this issue with more details from your error log if it's still NOK for you? The problem shown above re. org.eclips

[2018-09-19 11:28] vorburger commented on #109
@ctron hallo Jens, nice to "see" you again here too... I know (from knowing you) that you know how this opensource thing :smiley:  works - as per #124 I wouldn't have the time to look into and fix this issue, but if you could raise a PR which fixes, I can (now) promise that we can get it merged and released (#123) ... looking forward to your contributions! :smiling_imp:

[2018-09-19 11:37] erwint commented on #117
I'll add all our changes as a PR, now that there's activity again. I'm not aware of a fix for this one, probably a side effect of another change

[2018-09-19 11:37] vorburger commented on #82
Could you please re-test with our brand new update site at https://m2e-code-quality.github.io/m2e-code-quality-p2-site/ (see #123 for #124 for background), and shout if the issue shown above, which seems to be specific to some Checkstyle Eclipse plugin-in version issue, and is not the same as the general problem with Photon (#120) reported by others? (Let's close this issue in 1 month from today i

[2018-09-19 11:45] vorburger commented on #118
@michael-schnell I'm not really sure here, and would welcome input from others (e.g. @victornoel @erwint @ctron ...), but  from what I understand, I think this may be "normal" - aren't Maven plugins in `<reporting>` section used only to ... well, produce reports? If that's the case, then.. there's "nothing to do" for this project here to configure M2E, no?

When you use Maven plugins like Checksty

[2018-09-19 11:55] antoine-morvan commented on #120
Seems good: https://travis-ci.org/preesm/graphiti/builds/430499654 :+1:

[2018-09-19 12:28] #110 closed

[2018-09-19 13:03] jodastephen commented on #120
I'm using the new update side in Eclipse now for checkstyle. It loads fine (which is what this issue is about). I suspect I also need #117 fixed for a complete solution. Thanks!

[2018-09-19 13:28] vorburger commented on #124
@erwint [has already raised 6 PRs](https://github.com/m2e-code-quality/m2e-code-quality/issues?utf8=%E2%9C%93&q=author%3Aerwint+), and in my book that's sufficient, and what I was hoping for :smiley: (above) - I have therefore just invited him as a new co-owner of the m2e-code-quality organization!   @ArloL I hope / will assume that is OK with you. Erwin, perhaps we could have the "convention" mor

[2018-09-19 13:34] #120 closed

[2018-09-19 13:38] vorburger commented on #124
FTR @belaeroess on private email: "It’s fine, i am not planning to contibute in the near time.", so _rm_ him.

[2018-09-19 13:42] erwint commented on #124
@vorburger thanks, the "generally don't self merge" rule is okay by me

[2018-09-19 13:54] victornoel commented on #124
@erwint @vorburger thanks for the great work :)
I want to help but can't be as reactive as you are. I will try to tackle #121 tonight!

[2018-09-19 14:02] antoine-morvan commented on #120
Activated redirection from previous temporary repo : https://github.com/preesm/m2e-code-quality/commit/2a3742207f799bfb20e2897e217ace5ee2be8894

[2018-09-19 14:10] vorburger commented on #119
@nbarithel as per #124 I wouldn't have the time to look into and fix this issue, but if you would like to raise a Pull Request with a proposed fix for what you describe, I can (now) promise that we can get it reviewed, merged and released (#123) ... if you would like to help but don't know exactly how / where (new to Eclipse plugin development?) then perhaps other people watching this repo like @e

[2018-09-19 14:15] vorburger commented on #124
Never feel guilty or regret! :smile:

Just do the best you can in everything you do, and everything else will be fine. Typically.

[2018-09-19 14:25] vorburger opened #143 "Redirect old to new CD update site?"
further to #137 re. our old VS new p2 update site:

seeing @antoine-morvan link to https://github.com/preesm/m2e-code-quality/commit/2a3742207f799bfb20e2897e217ace5ee2be8894 in https://github.com/m2e-code-quality/m2e-code-quality/issues/120#issuecomment-422816082 (thanks), I'm wondering if the same p2 redirect `<child location=` thing in `compositeArtifacts.xml` should somehow be done to https://g

[2018-09-19 14:29] victornoel commented on #143
@vorburger I agree it' a good idea, but I can't help in practice, I've never understood how all those things worked in p2, I tried, but I never succeeded :P

[2018-09-19 14:35] antoine-morvan commented on #143
Hey, I'll have a look at this (I'll let you change the index.html files with proper guidelines).

Basically you want the old P2 repo to serve the current releases it has (that is pre-Photon compatible) plus the new repo with Photon+ compatible, right ?

[2018-09-19 14:47] vorburger opened #145 "Remove very old findbugs-p2-repository from home page of this project?"
While doing #144, I discovered https://github.com/m2e-code-quality/m2e-code-quality/tree/gh-pages/findbugs-p2-repository ... looks like @bimargulies, 7 years ago presumably when this move here to GitHub from Google Code, had a need to provide a mirror of a the FindBugs Eclipse plugin update site ...

It does not harm, but such things can be confusing - anyone know if there any good reason that nee

[2018-09-19 14:58] vorburger commented on #143
#144

Yeah. Except that I assumed that the new repo is also still compatible pre-Photon... I didn't think we already broke that? :smile:

[2018-09-19 16:42] vorburger commented on #143
@antoine-morvan FYI @pgalbraith has done some compatiblity testing, see https://github.com/m2e-code-quality/m2e-code-quality/issues/123#issuecomment-422867170.

[2018-09-19 17:22] victornoel opened #150 "No suppressionsLocation configured make the checkstyle m2e configurator crash"
I just tried to run the latest version of the plugins and I got the following error:
[code]

Basically, it seems that when getting the location of the suppressions file, the plugin does not accept the fact it is not present in the pom.

I think it should not be a problem if the suppression location is missing.

[2018-09-19 17:38] vorburger commented on #150
Hm, interesting fine. Where I use this project there is a [suppressionsLocation](https://github.com/opendaylight/odlparent/blob/master/odlparent/pom.xml#L1165) (for this [checkstyle-suppressions.xml](https://github.com/opendaylight/odlparent/blob/master/checkstyle/src/main/resources/checkstyle-suppressions.xml)), so never hit this, but I guess this should be fixed... are you going to raise a PR? :

[2018-09-19 17:44] victornoel commented on #150
I will yes, I was just wondering what changed and if maybe you or @erwint had a more global point of view on the problem :)

[2018-09-19 17:46] victornoel commented on #150
I suppose it happened here: 54a84c3ee671679372578863539e2b34fc002ea4

I will try to find an elegant and general solution.

[2018-09-19 19:11] #150 closed

[2018-09-19 22:34] #137 closed

[2018-09-19 22:34] #145 closed

[2018-09-20 06:58] antoine-morvan commented on #143
Yeah my bad, I meant the old repo is pre-photon only and the new is pre+post photon compatible.

Do you also want the new repo to serve the releases from the old one ?

[2018-09-20 08:16] ctron commented on #118
Sorry, I don't know that myself. But I would assume you are right, I never saw any M2E plugin interact with the reporting section.

[2018-09-20 14:55] vorburger commented on #82
@jmini thanks for feedback; let me close this issue then (we can re-open if others still hit this).

[2018-09-20 14:55] #82 closed

[2018-09-20 16:04] vorburger opened #156 "Checkstyle for this project itself"
#153 has as discussion about having Checkstyle for this project itself (its source, not its users) ...

... and I'm personally all for _"eating our own dogfood"_ here!

[2018-09-20 16:07] vorburger commented on #156
@victornoel asked (in #153) :

if I get to chose :smiley: then I vote for [the one we use here in OpenDaylight.org](https://github.com/opendaylight/odlparent/blob/master/checkstyle/src/main/resources/odl_checks.xml) - but I'm happy if someone wants another one as well!

[2018-09-21 15:04] michael-schnell commented on #118
@vorburger As the project description states "This project provides Eclipse plugins that bridge the Maven and Eclipse plugins for Checkstyle ..." - So if there is a checkstyle configuration in the Maven POM, I'd expect the m2e-code-quality plugin to create an Eclipse checkstyle config. No matter if "build" or "report" section. Both options should be supported.

The "report" way is even the first o

[2018-09-22 13:57] vorburger commented on #135
This sort of has also come up in #149 again (where @victornoel and @erwint wonder why we have both .target and .setup here) and from what (little) I remember, this https://wiki.eclipse.org/Eclipse_Oomph_Authoring#Generating_PDE_Target_Definition_files_.28.2A.target.29_and_their_use_by_Tycho is how one use the .setup as the "source of truth", and Oomph generate .targets (and updates to it).

[2018-09-22 15:27] victornoel opened #157 "Setup instructions from README does not work"
I tried following the setup instruction in the README (with a photon install) and during Eclipse start-up, the tasks that should be executed to setup the workspace fails with the following error:
[code]

From what I gathered by browsing the net, it seems this is caused by findbugs.

I suppose we are missing an update site or just an explicit dependency in the setup... I have to say I'm a bit lost

[2018-10-03 08:05] #117 closed

[2018-10-05 23:12] vorburger commented on #143
yeah, but as per #155

[2018-10-09 10:30] #118 closed

[2018-10-11 15:13] ctron opened #166 "Mention P2 repository in the README"
I think it would be helpful to mention the P2 repo URL (the correct one) in the README of the project. It took me a while to find the currently working P2 repo in all the issues and comments.

Should be a quick change, but definitely helpful.

[2018-10-11 15:46] vorburger commented on #166
@ctron looking forward to your pull request, my friend! :smiling_imp:

[2018-10-30 15:08] vorburger opened #168 "Allow parallel building"
inspired by seeing https://github.com/checkstyle/eclipse-cs/pull/109

see e.g. https://de.slideshare.net/mickaelistria/parallel-builds-in-eclipse-ide-workspace

Is this something that would also make sense for this project? Any volunteers to do this?

@Bananeweizen @erwint @adangel

[2018-10-30 19:40] Bananeweizen commented on #168
@vorburger Michael, I don't really know. :) The respective change is relevant for IncrementalProjectBuilder subclasses. If this project uses such a builder to participate in workspace builds, then it probably makes sense here, too.

[2018-10-31 08:56] vorburger commented on #168
I just had a quick closer look, and we actually don't implement any Eclipse Builders in this project, just Project Configurators. So this is a non-issue; closing this.

[2018-10-31 08:56] #168 closed

[2018-10-31 16:18] anton-johansson opened #170 "Eclipse 2018-09"
I just tried installing this in a fresh Eclipse 2018-09 (latest version) and I got some errors that looks very similar to what we got in #120.

That issue was fixed and it **should** be compatible with Eclipse 2018-09. Maybe [the repository page](https://m2e-code-quality.github.io/m2e-code-quality-p2-site/) just isn't updated with the latest version?

For now I just went with [this fork](https://g

[2018-11-07 15:00] Serranya commented on #170
I have more or less the same issue.
org.eclipse.m2e.jdt 1.9.1 is installed and therefor I also geht the Missing requirement error.

[2018-11-07 16:12] vorburger commented on #170
@anton-johansson the the repository page you link to above is preesm.github.io .. not sure who or what @preesm is, but that is not this project. Probably on old and long outdated fork - @preesm would you be willing to take that down, or make it point to us instead? Likewise for @jesse-gallagher's fork which you link to.

This project's latest update site is (now) https://m2e-code-quality.github.io

[2018-11-07 17:32] anton-johansson commented on #170
@vorburger:

I'm well aware of it being an older fork. I must've gotten the wrong link in my clipboard. Fixed now.

Anyway, the update site that I tried at first is the same one you linked, and it's the one I got the error from. I do know that the fix from @preesm is merged to this repository, what I was wondering is if the update site (https://m2e-code-quality.github.io/m2e-code-quality-p2-site/)

[2018-11-07 18:04] vorburger commented on #170
yeah, so https://m2e-code-quality.github.io/m2e-code-quality-p2-site/ = https://github.com/m2e-code-quality/m2e-code-quality-p2-site which gets updated automatically from every commit to master by Travis, see #123 (and #124 for more history; also #155 for #143 for a possible future "stable" site).

So the version range `"[1.0.0,2.0.0)"` for the required org.eclipse.m2e.* bundles in all the `MANIFE

[2018-11-07 18:40] anton-johansson commented on #170
Allright, so it should be up to date... Strange.

Let me try it again in a fresh 2018-09 as soon as I have some spare time and get the exact error message.

[2018-11-08 08:08] Serranya commented on #170
Argh. I did indeed use the wrong update site.

I used the first one google found and didn't take a look at the projekt page.

[2018-11-09 13:36] vorburger commented on #170
@Serranya so it works for you now, have you retried?

@anton-johansson sure. Hope it's fair if we close this issue in 1 week if no news.

[2018-11-09 13:38] anton-johansson commented on #170
@vorburger: Sure, I haven't had time to re-try it yet... But just close it now if you want, and I can ping you for re-open if/when I reproduce it and supply full logs.

[2018-11-09 13:53] Serranya commented on #170
It's working for me now :)

[2018-11-09 14:05] #170 closed

[2018-11-10 23:28] erwint commented on #143
Should be fixed now that #155 is merged. Can we close this?

[2018-11-10 23:30] erwint commented on #135
Is this fixed with #169?

[2018-11-10 23:34] erwint opened #176 "Automatic release does not work"
I tried out the new infrastructure for releases #175, but the token in Travis does not seem to have the needed access rights.

You can see it at the end of the 1.1.0 build, which failed for that reason: https://travis-ci.org/m2e-code-quality/m2e-code-quality/jobs/453406465

@vorburger : Where is the token in Travis from and can it be updated with the necessary rights?

[2018-11-12 13:30] vorburger commented on #143
yep! Thank you.

[2018-11-12 13:30] #143 closed

[2018-11-21 13:40] Serranya opened #178 "Support inline checkstyle configuration"
The maven-checkstyle-plugin allows to specify the configuration inline like this:
[code]

It would be nice if this could somehow be supported. What do you think?

[2018-11-23 13:34] vorburger opened #179 "Automatic release recreates JARs for tagged version"
@erwint I hadn't closely looked at the work you did in #176 (thank you BTW!), but when I just looked at https://github.com/m2e-code-quality/m2e-code-quality-p2-site, I thought it was curious that both the `/snapshot/` as well as the `/1.1.0/` just seem to have gotten updated, following my merge of #177 ... isn't `/1.1.0/` supposed to not move anymore now?

It's not a real problem for me, as I'm pe

[2018-11-23 14:23] vorburger opened #180 "Checkstyle only adds 1st of several Local Check Configurations?!"
I noticed, while working on some project of https://git.opendaylight.org using https://github.com/vorburger/opendaylight-eclipse-setup/ (which [uses m2e-code-quality snapshot](7ba31875e492fa56ff73275eaf50fc5393b99f9f)), that despite those projects in their POM having not just one but three different Checkstyle XML configurations, via different dependencies of the maven-checkstyle-plugin in differe

[2018-11-23 14:47] vorburger commented on #157
Just hit this myself also, as I was trying to set up a new workspace to perhaps fix #180 ...

@erwint we should probably fix this, to make it easier for people to contribute? So what's where re. this:

http://git.eclipse.org/c/oomph/org.eclipse.oomph.git/tree/setups/com.github.projects.setup#n249 points to https://github.com/m2e-code-quality/m2e-code-quality/blob/master/m2e-code-quality.setup, in

[2018-11-23 15:00] vorburger commented on #157
actually, [that is](https://github.com/m2e-code-quality/m2e-code-quality/blob/master/m2e-code-quality.setup) _ancient_ ... from @ArloL 's original from Feb 26, 2016, everything that [was modified since in m2e-code-quality.setup](https://github.com/m2e-code-quality/m2e-code-quality/commits/develop/m2e-code-quality.setup), is not seen by Oomph. As a first step, let's therefore sort this out by [chan

[2018-11-23 16:04] vorburger opened #181 "Remove master branch to avoid future confusion"
Does any one, in particular @erwint, have any objection if we just completely delete the master branch?

It seems to me that after #123 and #143 and #176 (#179) having a master branch is more confusing than useful, so to make it easier for future contributors to find their way around this project, why not just delete it? (Just for history, it's currently at d8d98aee7da06c0fbf03beb068a3bd461ac6caf0

[2018-11-23 16:09] vorburger commented on #157
curious, even with d8d98ae Oomph still shows the ancient setup model. It's somehow cached?!

Given up on this issue for today.

[2018-11-25 10:01] erwint commented on #179
if you look closely, the artifacts in /1.1.0 are still the original ones (look at the qualifier, e.g. com.basistech.m2e.code.quality.checkstyle.feature_1.1.0.201811102243-r.jar). That's just how the `pages` [deployment in Travis ](https://docs.travis-ci.com/user/deployment/pages/) works, it can only completely replace the current branch.

[2018-11-25 10:01] #179 closed

[2018-11-25 10:05] erwint commented on #181
Yes, this is quite confusing. We *could* merge develop to master when releasing, so it would be the latest released commit, but I'm fine with completely dropping it, too. Anyone else with an opion on this?

[2018-11-26 09:33] #180 closed

[2018-11-26 09:33] vorburger commented on #179
Oh! I see. Thanks for the clarification.

[2018-11-26 15:54] vorburger commented on #157
@victornoel perhaps you would like to re-test and see with @Serranya if his #183 fixed this problem?

[2018-11-28 21:35] erwint commented on #181
PR #185 would keep the master branch and merge with develop when releasing. So it would always have the latest released version (gitflow style). I noticed that it was previously also used in that style.

Of course, if we want to drop master that can be easily removed from that PR

[2018-12-03 12:08] Serranya commented on #157
I just wanted to test if #183 fixes the problem. I noticed that my added code ist not in https://github.com/m2e-code-quality/m2e-code-quality/blob/develop/m2e-code-quality.setup or https://github.com/m2e-code-quality/m2e-code-quality/blob/master/m2e-code-quality.setup anymore.

Why was it removed?

[2018-12-03 12:37] erwint opened #187 "When merging to master on release handle conflicts correctly"
If for some reason there is a conflict, we should use the version from `develop`. It's already intended like this, but uses `ours`  instead of `theirs`. Also, normally there should be no conflicts, as there should be no commits on master between releases.

[2018-12-03 12:37] #187 closed

[2018-12-03 12:44] erwint commented on #157
Fixed #187 which caused the inadverted "rollback", was just a confused `ours` vs. `theirs`. The commit is now present in `develop` and `master` again

[2018-12-12 09:54] vorburger commented on #178
@Serranya with #188 just merged, do you want to close this?

Thanks for contributing to this project! Keep it coming... :smile_cat:

[2018-12-12 10:00] #178 closed

[2018-12-14 20:04] vorburger opened #189 "Icon, for GitHub org and perhaps even Eclipse's About"
It would be cool to have an icon for this project.

We could put it e.g. on https://github.com/m2e-code-quality/ and on the README.md

We could even put it in the Eclipse About, like Checkstyle and SpotBugs do, if someone remembers how?

Visually, perhaps it could simply be combination of Eclipse, M2E, Checkstyle, SpotBugs & PMD logos?

[2018-12-14 20:19] vorburger commented on #189
For M2E I've found these, but they are very low-res :-1: unfortunately:
* https://github.com/eclipse/m2e-core/blob/master/org.eclipse.m2e.refactoring/icons/m2.gif
* https://github.com/eclipse/m2e-core/blob/master/org.eclipse.m2e.core/m2eclipse.gif

For Eclipse itself it's easy to find a high-res one:
* https://www.eclipse.org/artwork/

SpotBugs: https://spotbugs.github.io/#logo-license

Checkstyle

[2018-12-14 20:30] vorburger commented on #189
![maven-logo-black-on-white](https://user-images.githubusercontent.com/298598/50025950-7f1dfc80-ffe7-11e8-85b8-e2f0991cb9da.png)

![m2](https://user-images.githubusercontent.com/298598/50025914-5ac22000-ffe7-11e8-9d41-cd27798935aa.gif)

![eclipse_logo](https://user-images.githubusercontent.com/298598/50025747-d7083380-ffe6-11e8-89b4-0876215e84f1.png)

![checkstyle-logo](https://user-images.githubu

[2018-12-14 20:56] vorburger commented on #189
![m2e-code-quality](https://user-images.githubusercontent.com/298598/50026998-1a64a100-ffeb-11e8-9dc2-5aa6f520c05b.png)

This ^^^ is now on https://github.com/m2e-code-quality/.

[2018-12-14 20:56] #189 closed

[2018-12-17 11:52] Serranya opened #191 "Plan a new Release"
There are ~10 new commits since the last Release. In some of them I am very interested and therefor I would like to see a new version released.

We should come up with a list of things/open Issues that should be done before releasing a new version.

I would be willing in helping to resolve them.

[2018-12-17 12:02] Serranya opened #192 "For inline configuration use header from maven"
We should use the header string from maven introduced in https://github.com/apache/maven-checkstyle-plugin/commit/0de3460e15e07a529f26cd69b3d2eb24e3e18310 for the reasons outlined in https://github.com/apache/maven-checkstyle-plugin/pull/7.

[2018-12-17 12:54] vorburger commented on #191
@Serranya I'm not much into releasing, but @erwint did great work recently on being able to make it really easy to release, so if you and him agree when you want to cut a release, just go for it together, without me. Personally I don't have any things/open Issues that should be done before releasing a new version, so you could release the current master as is from my side.

I'm guessing there may

[2018-12-17 12:57] vorburger commented on #192
sorry from a 23s glance over the linked issues I'm not getting what this is about, but if you want to raise a PR proposing something, I'm sure @erwint and others would be happy to review and possibly merge it ...

FYI there were previous discussions re. reporting in #118, if that is relevant to you here.

[2018-12-17 13:40] Serranya commented on #192
Yeah, I will open a PR.

The problem is:

we pass the inline checkstyle configuration to checkstyle as a xml file. This file needs to include a DTD header. But the header is different depending on the checkstyle version.

We could hardcode the known headers, but we would need to update this plugin everytime checkstyle updates their header.

Thats why the maven plugin specifies a default header and

[2018-12-17 13:40] Serranya commented on #192
I just opened this issue so I don't forget to fix this.

[2018-12-17 14:03] erwint commented on #191
Releases are "cheap" now, so just let's do one. @Serranya: we can wait for #192, if you want to provide a PR.

[2018-12-17 14:05] Serranya commented on #191
In that case let's wait for #192.

[2018-12-19 11:13] #192 closed

[2018-12-19 11:20] Serranya commented on #191
#129 is done

[2018-12-31 17:44] nbarithel commented on #119
Hi @vorburger,

This seems to be resolved in the latest version (1.1.2, and maybe in earlier versions too)!
FWIW I created a sample project as suggested. It is a Multimodule Maven Project structure inspired by the one suggested by Apache Maven Checkstyle Plugin and Apache Maven PMD Plugin: https://github.com/nbarithel/app
Feel free to reuse it in some tests.

Regards

Nicolas

[2019-01-04 16:12] Flugtiger opened #196 "pmd excludeRoots is not working"
If specifying excludeRoots in pom.xml, it has no effect on the generated .pmdruleset.xml

Reason: in MavenPluginConfigurationTranslator#buildExcludeAndIncludeSourceRoots the local variable 'excludeRootsFromConfig' is never added to the field 'excludeSourceRoots'

[2019-01-06 14:15] vorburger commented on #196
Thanks for finding this. Would you like to raise a Pull Request addressing
this? I would be very happy to merge it quickly.

[2019-01-07 07:11] Flugtiger commented on #196
I'll give it a try :-)

[2019-01-07 07:13] Flugtiger opened #197 "Oomph target platform not resolving correctly"
When using oomph to setup the m2e ide. I got the following error (step "Modular Target (m2e-code-quality), activate":

`ERROR: org.eclipse.pde.core code=0 Problems occurred while resolving the target contents
  at org.eclipse.oomph.util.OomphPlugin.coreException(OomphPlugin.java:280)
  at org.eclipse.oomph.util.pde.TargetPlatformUtil.activateTargetDefinition(TargetPlatformUtil.java:151)
  at org.e

[2019-01-23 20:55] #196 closed

[2019-01-23 20:55] vorburger commented on #196
@Flugtiger really sorry it took so long to merge this - I forgot about this and saw it now by chance.

Please keep your contributions coming - we'll make you a committer quickly... :smile:

[2019-01-23 20:57] vorburger opened #199 "ConfigurationException: could not locate resource [...] would be more helpful if it inclued more details"
I just hit the following, and would find it much more helpful if it included more details about where it was trying to find that `spotbugs-exclude.xml` file which it can't find...

[code]

Anyone wants to have a go at raising at PR that improves? :smile:

[2019-02-06 17:53] Bananeweizen opened #201 "oomph setup not working"
Inspired by your blog post, I ran the oomph setup on my personal Windows machine. It looks fine until the IDE starts. There is zero activity (normally git cloning would start), and invoking "Perform setup tasks" leads to an empty list of setup tasks. Also opening all the Navigate -> Setup -> xyz leads to empty setup files (except for my user setup, so generally, Oomph is working).

Since I have no

[2019-02-06 18:27] Bananeweizen opened #203 "target platform does not contain commons.lang"
Neither the Oxygen nor Photon .target files contain org.apache.commons.lang, but it is used in the checkstyle plugin. How does this compile for others?
There are multiple options for fixing this:
* add Orbit to the URL list in the target files
* recreate the targets from TPD files, which allow much better control of the content
If you advise me on some preferred solution, I might be able to contri

[2019-02-06 18:50] vorburger commented on #201
happy to hear that it inspires... :smiley:

Dunno - you COULD debug Oomph itself - but not sure it's "worth" it?

May be others here want to chime in and have a closer look... I won't have time.

[2019-02-06 18:52] vorburger commented on #197
#201 is also looking at the Oomph set up...

[2019-02-06 18:52] vorburger commented on #201
BTW is #197 a dupe of this? Thought perhaps you should know about that issue.

[2019-02-06 18:54] vorburger commented on #203
I'm not 100% sure the CLI mvn build actually uses the .target files... there is probably potential for some clean up.

as long as everything still works, do whatever you think needs to be done / you feel like doing!

[2019-02-06 19:00] Bananeweizen commented on #201
No. That other issue is about resolving the target platform. Errors there are typically caused by
* local oomph cache pointing to a nightly update site version, which was replaced during this nights build
* modular targets becoming incompatible due to someone upgrading one modular part, and not checking the others

I'm fine with closing this issue, since I've cloned the repo myself. I'm just not s

[2019-02-06 19:00] #201 closed

[2019-02-07 11:36] #203 closed

[2019-02-07 11:56] vorburger opened #208 "Invite additional committers"
In order to continue #124 _("[keep the lights on this project](http://blog2.vorburger.ch/2019/02/about-you-and-that-open-source-thing.html)"),_ and in the spirit of a truly open project with a low barrier to entry (and also to avoid myself being the bottleneck and single active reviewer on this project...), I'd like to open an invitation to a few additional [people who all made a handful of contri

[2019-02-07 11:59] vorburger commented on #208
FTR: @erwint and myself (@vorburger) are "Owners" of the Org, and the invitations are as "Members".

[2019-02-07 12:13] Serranya commented on #208
Thanks for the invite. I will try to help where I can.

[2019-02-07 12:18] Serranya commented on #199
Seems not too difficult. I will take a look at this.

[2019-02-07 12:37] Bananeweizen commented on #208
Thanks, that sounds good me. Honestly, I'm not sure if I'll be around often enough due to other open source activities, but if it doesn't work out well, I will also not be crying my eyes out, if I'm removed from those privileges again after some time. :) Generally I like this "make it easy to join" attitude of yours, since many projects suffer from a high barrier to entry.

[2019-02-07 12:43] erwint commented on #208
Of course I'm okay with this :+1:

[2019-03-06 10:45] vorburger commented on #208
Everyone listed above excepted @victornoel has meanwhile accepted the invitation.

I've removed @victornoel invite, just as a general security best practice; happy to re-invite you any time.

[2019-03-06 10:45] #208 closed

[2019-03-06 11:01] victornoel commented on #208
@vorburger yep thx for the invite, didn't have the time to look at all this for some time, I will linger around but I'm good not being in the organisation :)

[2019-03-08 11:20] vghero opened #210 ".checkstyle isn't created"
I'm using Eclipse `2018-12` together with the latest version of the m2e code quality plugin.
There exists the problem, that the checkstyle config seems not properly read from the maven `pom.xml` and saved as `.checkstyle` file in the project. The latter file simply isn't created.

m2e code quality plugin version is: `1.1.3.201903061028-r`
Eclipse checkstyle plugin version is: `8.12.0.201808161509`

[2019-03-09 09:53] vorburger commented on #210
I don't think it actually has to create a .checkstyle file... it just
dynamically configures the Checkstyle Eclipse plug-in on the fly, I think
(but I am not 100% sure). You could always have a look at the source code
here in this project to better understand how it works...

[2019-03-11 07:58] vghero commented on #210
To put it simply: it just doesn't work :D. That the `.checkstyle` isn't created, is just something I encountered. Because in the past it was there and checkstyle was working (Eclipse Oxygen/Mars etc.).
Is there any log where any problems are reported to?

[2019-03-11 09:31] vorburger commented on #210
Usual Error Log (not Problems) view in Eclipse UI, or log file normally
next to your eclipse EXEcutable?

[2019-04-12 12:48] #199 closed

[2019-04-16 16:26] andreasaba68 commented on #210
Hi @vghero

I was having a similar issue (and no messages on the Errors logs) and then realized that I had forgotten to include the "check" goal in my pom.
A further suggestion in case it's not that simple, is to try by:
- creating a fresh install of eclipse
- install the m2e-quality-tools only
- use a freshly created workspace
- using a project from the test repository (e.g. https://github.com/m2

[2019-04-17 07:43] ajejebrazorf6453 commented on #210
@vghero  @vorburger ... second thoughts :-D

what I described above worked with the pom in checkstyle-9 example but when I applied it to my real project it didn't work anymore so I decided to do more investigation.
I pulled all components of my project one by one and eventually m2e-quality-tools seems not to be working when the spring-boot parent pom is included, probably there is some compatibili

[2019-04-17 08:07] vghero commented on #210
Thank you very much for the insights! I will investigate with the steps you suggested. And funnily: we also have the boot parent pom. Maybe it's really related to that, thanks!

[2019-04-17 08:18] ajejebrazorf6453 commented on #210
@vghero apologies for deleting my previous post, I will now post it back and add something:
- my pom's "header":
	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.1.3.RELEASE</version>
		<relativePath />
	</parent>
is definitely interfering with the m2e-quality-tools plugin, I tried by put/pull it various times in a small pro

[2019-04-17 08:20] andreasaba68 commented on #210
@vghero apologies for deleting my previous post, I will now post it back and add something:
- my pom's "header":
	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.1.3.RELEASE</version>
		<relativePath />
	</parent>
is definitely interfering with the m2e-quality-tools plugin, I tried by put/pull it various times in a small pro

[2019-04-24 10:17] wuaaaza opened #213 "An internal error occurred during: "Updating Maven Project""
Hello,
My eclipse (Oxygen 3a Release, EE) updated PMD plugin a few days ago but the latest plugin does not work properly for our java program.
The latest plugin has two jar files:
com.basistech.m2e.code.quality.pmd_1.1.3.201903061028-r.jar
net.sourceforge.pmd.eclipse.plugin_4.2.0.v20190331-1136.jar
The error message turns up when I do Maven/Update project ...
"Unable to exclude rules [GuardLogStat

[2019-04-24 11:16] adangel commented on #213
You can download the old pmd-eclipse-plugin version from here: https://dl.bintray.com/pmd/pmd-eclipse-plugin/releases/4.0.17.v20180801-1551/ (or download the zipped update site: https://dl.bintray.com/pmd/pmd-eclipse-plugin/zipped/net.sourceforge.pmd.eclipse.p2updatesite-4.0.17.v20180801-1551.zip)

I'd like to investigate further about the "GuardLogStatement". We definitively support this rule htt

[2019-04-24 14:31] wuaaaza commented on #213
Thanks for your quick reply. The ruleset we are using:
<?xml version="1.0"?>
<ruleset name="VCG default ruleset"
         xmlns="http:/pmd.sf.net/ruleset/1.0.0"
         xmlns:xsi="http:/www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http:/pmd.sf.net/ruleset/1.0.0 http:/pmd.sf.net/ruleset_xml_schema.xsd"
         xsi:noNamespaceSchemaLocation="http:/pmd.sf.net/ruleset_xml_schema.

[2019-04-25 06:34] adangel commented on #213
Thanks for sharing the ruleset. I've first tried it without pmd-eclipse-plugin, and I get the same error. This is obviously a problem in PMD itself (we renamed the rule GuardLogStatementJavaUtil to GuardLogStatement with PMD 6.0.0, and we try to cope with that fact in your ruleset...).

I was wondering, which maven-pmd-plugin version you are using? Since you should get the same error when building

[2019-04-25 12:37] wuaaaza commented on #213
Many thanks for your information. Our maven-pmd-plugin version is 3.8
I do not get any error message when I build my project with maven (3.3.9).
I could not update ruleset at present and have tried the zipped update you mentioned. I could see that net.sourceforge.pmd.eclipse.plugin_4.0.17.v20180801-1551.jar has been added into plugin.
However, I still could not see com.basistech.m2e.code.quality.p

[2019-04-26 10:27] adangel commented on #213
Ok, [m-pmd-p 3.8 uses PMD 5.6.1](https://github.com/apache/maven-pmd-plugin/blob/046a96dbf1fba79374813a2f6c673ff902902661/pom.xml#L89). This explains why building your project on command line works.

I can't explain, why there is no error with pmd-eclipse-plugin 4.0.17. Maybe the error is just suppressed?

That's a different plugin. The m2e-code-quality plugins (this repository here) takes your ma

[2019-04-28 09:38] adangel commented on #213
Hi @wuaaaza ,
I've just released a new pmd-eclipse-plugin 4.3.0 which should include a fix in PMD, so that this ruleset can be loaded again.

However, I strongly recommend to update your ruleset and update your maven based toolchain to a more recent version of maven-pmd-plugin / PMD.

Let me know, if we can close this issue then.

[2019-04-29 11:21] wuaaaza commented on #213
I am not sure how to suppress the error and probably had not suppressed it.

I could not see this plugin at all if I manually add your pmd-eclipse-plugin from the site you specified or via eclipse marketplace. But when I import my maven project into eclipse at the first time, a "Discover m2e connectors"dialog will pop up and it will install "m2e support for the maven-pmd-plugin". After the install

[2019-04-29 17:46] adangel commented on #213
Ok, thanks for the feedback.
@vorburger Can you close this issue? Thanks!

[2019-04-29 18:05] #213 closed

[2019-05-14 13:20] vikash7325 opened #215 "snapshot page is not working"
http://m2e-code-quality.github.io/m2e-code-quality/m2e-code-quality-p2-site/snapshot/

[2019-06-05 13:05] Dichotomia opened #216 "Warning in Eclipse"
2019-06-05 15:03:30,832 WARN Worker-10: Updating Maven Dependencies com.basistech.m2e.code.quality.shared.ResourceResolver - Resource appears more than once on classpath, this is dangerous because it makes resolving this resource dependant on classpath ordering; location LICENSE.txt found in [jar:file:/C:/Users/qca/.m2/repository/org/apache/maven/plugins/maven-checkstyle-plugin/3.1.0/maven-checkst

[2019-06-06 06:34] vorburger commented on #216
This probably isn't a general problem of this plug-in (m2e-code-quality),
but appears only in your specific project, where you also have dependencies
to Struts, it seems.

It's harmless (README dupe), I'd just ignore it.

Close this issue?

[2019-06-06 06:43] Dichotomia commented on #216
Hello.

I don't have any dependencies to Struts.

That's why it is strange to me.

[2019-06-06 06:51] vorburger commented on #216
But the maven-checkstyle-plugin does, see
http://maven.apache.org/plugins/maven-checkstyle-plugin/dependencies.html
...

You could follow up with the maven-checkstyle-plugin project re this, but I
doubt it's worth it.

Close this issue here for this project?

[2019-06-19 09:11] erwint commented on #215
Yeah, the link is displayed correctly, but set wrong. The site is at http://m2e-code-quality.github.io/m2e-code-quality-p2-site/snapshot/

I fixed the link

[2019-06-19 09:11] #215 closed

[2019-08-07 22:34] lmsurpre opened #221 "Improve error message for checkstyle issues without eclipse-cs"
I have an eclipse installation with m2e but no eclipse-cs (I think).

We enabled checkstyle rules for our build and things seemed to work well.
Then I started seeing this weird error on my pom.xml:

![image](https://user-images.githubusercontent.com/5478798/62662246-71840100-b941-11e9-8661-82af7ff1ec85.png)

It took me quite a while to realize that its saying there was a checkstyle violation in th

[2019-08-08 21:57] vorburger commented on #221
On Thu, 8 Aug 2019, 00:34 Lee Surprenant, <notifications@github.com> wrote:

Yes, if you can raise a Pull Request to contribute to this project... ;-)

[2019-09-03 13:42] victornoel opened #222 "Have a way for eclipse-cs to use the same checkstyle version as the maven plugin"
checkstyle 8.24 was released and introduced breaking changes which required moving around the declaration of one of the checker (see https://checkstyle.sourceforge.io/releasenotes.html#Release_8.24).

It also introduced a new option for this checker and now, when eclipse-cs tries to load the checkstyle configuration, it fails with:
[code]

This is problematic especially because we can't be sure th

[2019-09-03 15:58] vorburger commented on #222
I had looked into this once (like.. 2 years ago or so), there should even
be an open issue about this from me on the eclipse-cs project, over on
SourceForge. What would need to be done is for it (the eclipse-cs Eclipse
Plug-In; NOT this project m2e-code-quality) to load the Checkstyle JAR
itself dynamically, via a custom ClassLoader (within OSGi; what fun). I
think it should be doable, but it's pr

[2020-01-23 18:19] vorburger opened #227 "Broken Build due to com.github.spotbugs.plugin.eclipse-*.jar!/META-INF/MANIFEST.MF: Invalid manifest header Bundle-ClassPath: "spotbugs-plugin.jar,""
#226 re. _Bump tycho-version from 1.5.1 to 1.6.0_ from DependaBot [failed on TravisCI](https://travis-ci.org/m2e-code-quality/m2e-code-quality/builds/639785899?utm_source=github_status&utm_medium=notification) due to:

[code]

[2020-01-23 18:21] vorburger commented on #227
Looks like this is probably related to https://github.com/spotbugs/spotbugs/issues/1067 (note the Eclipse plugin with the bad MANIFEST is NOT the ours from m2e-code-quality but the SpotBugs one).

Not sure if the Tycho upgrade is causing it (more strict), or just make it appear, because we don't rebuild this very often, but I suspect it's the latter and even a current build without changes would m

[2020-01-26 23:05] vorburger commented on #227
While https://github.com/spotbugs/spotbugs/issues/1067 has been closed today, this issue is still open for this project, because https://spotbugs.github.io/eclipse/ does not, yet, host a build including that fix (but still 4.0.0.202001200351-6732852) - so PR #226 [still failed to build](https://travis-ci.org/m2e-code-quality/m2e-code-quality/builds/639785899) (with above).

[2020-02-08 18:02] vorburger opened #229 "EclipseCheckstyleProjectConfigurationTest failure"
Following the resolution of #227, the build now [fails due to a EclipseCheckstyleProjectConfigurationTest failure](https://travis-ci.org/m2e-code-quality/m2e-code-quality/builds/647182280):

[code]

Is anyone who's using this project interested in contributing a fix for this? (I won't be able to.)

[2020-02-08 18:02] vorburger commented on #227
https://spotbugs.github.io/eclipse/ now has a com.github.spotbugs.plugin.eclipse Version 4.0.0.202002080054-d820dad, and the build is no longer blocked by the problem above. There's now a completely unrelated new problem, see #229.

[2020-02-08 18:02] #227 closed

[2020-02-10 19:52] adangel commented on #229
I'm looking into this.

Here's the error message from the test workspace:
[code]

It seems, we are running the latest checkstyle plugin 8.29.0. The test projects use the default maven configurations and use version 3.0.0 - which ships with checkstyle 8.19. And we use the default checkstyle ruleset sun_checks.xml - which is incompatible with 8.29.0 (actually since 8.24.0).

[2020-02-10 20:36] #229 closed

[2020-02-10 20:39] #96 closed

[2020-05-12 15:04] jakub-bochenski opened #234 "Connector not discovered?"
I've installed the plugin, but I still get this error all the same

[code]
Eclipse:
Version: 2020-03 (4.15.0)
Build id: 20200313-1211

SpotBugs configuration plugin for M2Eclipse	1.1.4.201906210825-r	com.basistech.m2e.code.quality.spotbugs.feature.feature.group	null

[2020-05-21 18:37] eperret commented on #222
+1,000,000

[2021-05-31 11:22] t-rufang commented on #82
I meet the same error in Eclipse 2021-03 JavaEE version.
Finally, I solved this problem by [Installing Eclipse Checkstyle Plugin](https://checkstyle.org/eclipse-cs/#!/install) before installing `m2e-code-quality` related plugin.

[2021-06-08 06:13] Anymous526 opened #250 "Eclipse 4.19: net.sf.eclipsecs.core 5.2.0 but it could not be found"
Cannot complete the install because one or more required items could not be found.
  Software being installed: Checkstyle configuration plugin for M2Eclipse 1.1.4.201906210825-r (com.basistech.m2e.code.quality.checkstyle.feature.feature.group 1.1.4.201906210825-r)
  Missing requirement: Checkstyle configuration plugin for M2Eclipse 1.1.4.201906210825-r (com.basistech.m2e.code.quality.checkstyle.fe

[2021-07-06 20:23] famod opened #251 "Wrong Checkstyle URL breaks Oomph setup"
We have (well, had) this in our project Oomph setup file:
![P2](https://user-images.githubusercontent.com/22860528/124661794-49440a80-dea8-11eb-962d-651d8041e7ff.png)

Due to the demise of bintray, this brings in now broken update sites for eclipse-cs (and with `1.1.4.201906210825-r` also pmd), which in turn breaks "Check for Updates" or "Perform Setup Tasks..." (when P2 Directors are run).
Removi

[2021-07-06 23:07] vorburger commented on #251
Why not directly raise a PR instead of a bug?

Would you be interested to be invited as a committer to this project to help maintain it?

[2021-07-10 16:34] famod commented on #251
Because I didn't run any tests and I'm lacking the knowledge of eclipse plugin development. Sadly, I don't have the time to work my way into this either, ATM.

[2021-08-10 23:31] sgesin commented on #82
For some reason I was missing the [PMD Eclipse Plugin](https://github.com/pmd/pmd-eclipse-plugin) as well from the update site https://pmd.github.io/pmd-eclipse-plugin-p2-site/. After installing both the Eclipse Checkstyle Plugin mentioned in the comment above and the PMD Eclipse Plugin I was able to install m2e-code-quality.

[2021-09-11 13:52] vorburger commented on #251
@adangel fixed this in #255 (I think, re-open if NOK for you).

[2021-09-11 13:52] #251 closed

[2021-09-14 16:44] adangel commented on #251
Fixed with f15dc18
With #255 only the build was fixed, but not the oomph setup file.

[2021-09-16 10:04] adangel opened #257 "Sign the plugins"
When the plugins are signed, then eclipse doesn't issue a security warning upon installation: "Warning: You are installing software that contains unsigned content. The authenticity or validity of this software cannot be established. Do you want to continue with the installation?".

You can ignore this warning with "Install anyway", but it would be better, if there were no warning at all.

It is po

[2021-09-17 06:26] #257 closed

[2021-09-17 10:05] adangel commented on #250
Hi @Anymous526 ,
this might have been caused by the outdated update site url for checkstyle (see #251, #255).

Could you try to install the latest snapshot from https://m2e-code-quality.github.io/m2e-code-quality-p2-site/snapshot/ ?
Maybe that's then fixed now...

[2021-09-17 18:39] adangel commented on #250
I can confirm, that this is fixed now - will be shipped with the next release.

[2021-09-17 18:39] #250 closed

[2021-09-18 13:31] adangel commented on #234
Thanks for reporting. Spotbugs was indeed missing in the m2e-discovery catalog.
I've opened a pull request -> https://github.com/takari/m2e-discovery-catalog/pull/69

[2021-11-04 17:35] famod commented on #251
I'm afraid that even with `1.1.5.202109180907-r` im getting bintray entries, breaking updates etc.

oomph-setup:
![oomph](https://user-images.githubusercontent.com/22860528/140390177-1f616869-8037-4a61-960d-1eb3921ffe35.png)

![sites](https://user-images.githubusercontent.com/22860528/140390426-af808e67-5b1f-4a8b-8c15-99a3c4a4e5e6.png)

PS: Eclipse 2021-09.

[2022-04-23 14:19] hazendaz opened #278 "Spotbugs - new mojo 'verify' coming for 4.7.0"
Hi, I'm the maintainer of spotbugs maven plugin.  The next minor release of spotbugs plugin will introduce a new mojo verify, see https://github.com/spotbugs/spotbugs-maven-plugin/pull/405.  Support for same should be added here, I can raise a PR for this effort and PR should be held until this is official.  Most likely will just put the PR in draft status, please let me know if that is ok and I'l

[2022-06-17 09:47] vorburger opened #282 "Require two-factor authentication for all members of the m2e-code-quality GitHub org"
Following [this security incident](https://news.ycombinator.com/item?id=31769520), which as far as I know didn't directly affect https://github.com/m2e-code-quality, I would like to apply https://docs.github.com/en/organizations/keeping-your-organization-secure and [require two-factor authentication for m2e-code-quality](https://docs.github.com/en/organizations/keeping-your-organization-secure/man

[2022-06-17 09:53] vorburger commented on #282
Oups, @Bananeweizen and @Serranya this apparently means you get auto-removed, because you don't have 2FA enabled, yet. -- Would you consider to secure your GitHub account with two-factor authentication? I'd be (very) happy to invite you back to this org when you have.

@m2e-code-quality-bot also get auto-removed with this. I'm trying to remember what that was used for, but cannot. I see [it was us

[2022-06-17 20:30] Bananeweizen commented on #282
@vorburger I'm okay with not having access anymore. I looked into using 2FA with github long ago. But it doesn't work well. I switch between personal computers and company machines a lot, and cannot use private security tokens with the company machines, because managing security keys is configured centrally. Therefore that would require to have my phone with me to all the time for the company lapt

[2022-06-17 20:48] vorburger commented on #282
@Bananeweizen I'm in a similar situation personally, just FYI. I find it a bit easier since GitHub added support for Approving Logins on the Mobile App (but I have my phone with me typically, yes). But I can also either plug my personal YubiKey security key into my (otherwise locked down) company machine, no problem. I personally have even added the YubiKey security keys that are in my company mac

[2022-06-18 09:24] adangel commented on #282
@vorburger Removing write access from @m2e-code-quality-bot  is ok - I've refactored the build scripts to use the automatically generated github token for pushing to m2e-code-quality and added a SSH-Key as deploy-key to m2e-code-quality-p2-site. The private key is passed through a secret in m2e-code-quality.
The bot account is only used to attribute any commits during release (like tagging, versio

[2022-06-22 18:08] Bananeweizen commented on #282
@vorburger I've re-evaluated some things and have 2FA enabled. The company laptop is okay with a YubiKey Nano now, since that can be left in all the time, without risk of damaging the key. It's all much more smooth than with the old fragile U2F (?) key I had bought some years ago.

[2022-06-22 18:16] vorburger commented on #282
Yeah but @m2e-code-quality-bot (for which I have the credentials) also get auto-removed with this, it can't even site push anymore.

That's probably the best, IMHO.

[2022-09-16 09:35] apetrelli opened #292 "Cannot install in Eclipse 2022-09"
(from #293)

Due to conflicting dependencies, this plugin cannot be installed. Here is the result:

[code]

[2022-09-16 09:41] hd42 opened #293 "Update to Eclipse 2022-09 / m2e 2.0"
Eclipse 2022-09 uses m2e 2.0.4, which requires Java 17 and the Maven 3 API. This is probably incompatible and might require a m2e-code-quality 2.0 release

[2022-09-17 07:43] adangel commented on #293
Thanks for reporting, this is a duplicate of #292.

[2022-09-17 07:43] #293 closed

[2022-09-22 15:07] #292 closed, assigned to nobody

[2022-09-22 15:56] adangel commented on #278
Hi @hazendaz , sorry for the late response.

Yes, PRs are welcome, thanks!

[2022-09-22 16:02] adangel commented on #293
Hi @hd42, I've just released version 2.0.0 which fixes this issue - please update m2e-code-quality from https://m2e-code-quality.github.io/m2e-code-quality-p2-site/

[2022-09-22 16:51] apetrelli commented on #292
@adangel well the installation went smooth but now I have another problem, probably not related to this plugin. I have to reinstall Eclipse (I have lots of plugins you know). I will let you know. Anyway thanks a lot!

[2022-09-22 17:07] apetrelli commented on #292
Ok my problem was not due to your plugin (a jar has been deleted from plugins directory, I wonder why...), it installs correctly and everything works with single module projects. I have some problems with multi-module, but probably I have to create a better test case. This bug has been fixed, and thanks for the fast resolution!

[2022-09-23 07:06] hd42 commented on #293
Thank you for the quick update, it seems to be working fine.

[2022-09-23 07:14] apetrelli opened #299 "m2e checkstyle does not work in multimodule project"
Configuring maven-checkstyle-plugin in a parent project of a multi-module project does not cause m2e checkstyle plugin configure the checks for modules inside the parent project.
I attached the failing example (bug-demo-parent.zip) and the example that works (bug-demo-itworks.zip) that is in fact a plain single module project.

[bug-demo-itworks.zip](https://github.com/m2e-code-quality/m2e-code-qu

[2022-10-07 10:51] adangel commented on #282
@vorburger I think you can delete the bot account (if not done already). It's not needed anymore by the build scripts (and since you enabled 2FA, it was already removed). I've created #302 to make the future commits nicer - they should now appear to come from github-actions and not anymore from @m2e-code-quality-bot .

In terms of permissions: During a build, we might commit into https://github.co

[2022-10-09 08:40] adangel commented on #299
Thanks for the report. However, I can't reproduce the behavior with the following project:
[bug-demo-parent.zip](https://github.com/m2e-code-quality/m2e-code-quality/files/9741087/bug-demo-parent.zip)

Start eclipse with a fresh workspace, import "bug-demo-parent" as an existing maven project, wait until it is completely imported and built. Then modify the parent's pom.xml file and add the checkst

[2022-10-09 09:18] adangel commented on #216
This logging happens when trying to resolve the configuration property `[headerLocation](https://maven.apache.org/plugins/maven-checkstyle-plugin/checkstyle-mojo.html#headerLocation)`. The default value is "LICENSE.txt" and the search scope is the runtime dependencies of the maven-checkstyle-plugin. Unfortunately m-checkstyle-p 3.1.0 depends on struts, so there are multiple "LICENSE.txt" files on

[2022-10-09 09:25] adangel commented on #299
Oh, it could also be a incompatibility of checkstyle, that is used in maven-checkstyle-plugin (which provides the checkstyle configuration) and the one, that is used in eclipse-cs.

E.g. maven-checkstyle-plugin 3.2.0 requires uses by default checkstyle 9.3...

I used maven-checkstyle-plugin 3.2.0 and eclipse-cs 10.0.0, eclipse 2022-09 and m2e-code-quality 2.0.0

[2022-10-10 07:32] apetrelli commented on #299
I am using exactly the same versions, however I don't know if we are taking into account the OS, I am using Ubuntu 22.04.

When I try to do Maven -> Update project on the parent pom I see two errors with the same content in the error log.

Exception stack trace:
[code]
Session data:
[code]

[2022-10-14 14:12] adangel commented on #299
Thanks for the updated project - I could reproduce the problem.

When m2e-code-quality tries to resolve the `configLocation` property, it only searches in the classpath of the plugin. But the configuration in this case is on the file system - in the parent project of the module. This case obviously is handled by maven-checkstyle-plugin (see [configureResourceResolver](https://github.com/apache/mav

[2022-10-14 15:17] #299 closed

[2022-10-14 15:25] apetrelli commented on #299
Thanks @adangel!

[2022-10-14 17:14] adangel commented on #299
@apetrelli You can use the snapshot update site -> https://m2e-code-quality.github.io/m2e-code-quality-p2-site/snapshot/
I'm not sure, when I'll release the next version.

[2022-10-17 09:11] apetrelli commented on #299
@adangel it works perfectly on my Eclipse installation, thanks!